// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: #d9d9d9;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin:8px 12px 0;
            .count {
                font-weight: @font-weight__bold;
            }
        }
        .subtotal {
            margin: 8px 0px 0 0;
            font-weight:700;
            text-align: right;
            .label {
                &:extend(.abs-colon all);
            }
        }
        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }
        .subtitle {
            display: block;
            font-weight: normal;
            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
                font-weight:normal;
            }
        }
        .text {
            &.empty {
                text-align: center;
            }
        }
        .block-content {
            > .actions {
                margin: 15px 0;
                > .secondary {
                    text-align: center;
                }
                > .primary {
                    margin: 0px;
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }
        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        float: right;
        margin: 0 0 0 20px;

    	.cart_text {
    		line-height:28px;
    		margin-left: 5px;
    		margin-top:3px;
    		display: none;
    	}
	      
	.lib-dropdown(
        @_toggle-selector: ~".action.showcart",
        @_options-selector: ~".block-minicart",
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 22px,
        @_icon-font-line-height: 28px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        
        .block-minicart {
            border:1px solid #e3e2e2;
           border-radius: 5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            box-shadow: 0 2px 2px #cccccc;
            -webkit-box-shadow:0 2px 2px #cccccc;
            -moz-box-shadow: 0 2px 2px #cccccc; 
	        padding:10px;
            right: 0px;
	        margin-top:0px;
	        margin-right:0px;
            width: 288px;
            box-shadow:none;
            position:absolute;
            top:37px;
            min-width: unset;
            background: #f6f6f6;
            &:before{
                display:none;
             }
            .block-title {
                display: none;
            }
            &:after {
                left: auto;
                right: 25px;
		display:none;
            }
        }
        .product {
            .actions {
                float: right;
                margin: -30px 0 0;
                > .primary,
                > .secondary {
                    display: inline;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
        .action {
            &.close {
                 background:#fff;
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
               
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
		    @_icon-font-color-hover: @minicart-icons-color,
		    @_icon-font-color-active: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }
            &.showcart {
                white-space: nowrap;
                background:url(../images/sprite.png) no-repeat scroll -54px -115px transparent;
                padding: 6px 25px 0 35px;
                position: relative;
                &:before{

                }
		&:hover {
            background-position: -54px -155px;
		}   		        
		.cart_text { }
		.counter {}
                .counter.qty {
                        display: inline-block;
                    &.empty {
                        display: inline-block;
                    }
                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }
                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border-bottom, 1px solid @minicart__border-color);
        .lib-css(margin, 0 );
        overflow-x: auto;
        /*overflow-y:scroll;*/
        padding: 5px 0;
        max-height:300px;

    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: @indent__base 0;
            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }
            &:first-child {
                padding-top: 0;
            }
            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }
        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
        .product-item-pricing {
            .label {
                display: inline-block;
                width: auto;
            }
        }
        .price-minicart {
            margin-bottom: @indent__xs;
        }
        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 2px;
            a {
                .lib-css(color, @link__color);
            }
        }
        .product-item-details {
            padding-left: 88px;
            text-align:left;
            .price {
                font-weight: @font-weight__regular;
            }
            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }
            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }
            .details-qty {
                margin-top: @indent__s;
            }
        }
        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }
            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }
            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
            &.pricing {
                margin-top: 3px;
            }
            &.options {
                .tooltip{
                    .toggle {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }
                .details {
                    display: none;
                }
            }
        }
        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }
        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 40px;
            height: 30px;
        }
        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }
        .subtitle {
            display: none;
        }
        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-edit,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 20px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @minicart-icons-color,
                @_icon-font-color-hover: @primary__color,
                @_icon-font-color-active: @minicart-icons-color
                );
            }
            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: 0px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
       
        .block-minicart {
            width: 320px;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
