*{margin:0px; padding:0px;}
li{list-style:none;}
img{ vertical-align: top;}

.ie8 .product-image-inner-blog .image-hover-block .zoom:before, .ie8 .product-image-inner-blog .image-hover-block .read:before {  display: none;}

.ie8 .product-image-inner-blog .blog-left:hover .image-hover-block .read:before, .ie8 .product-image-inner-blog .blog-left:hover .image-hover-block .zoom:before { display: block;}

.ie10 .page-wrapper, .ie11 .page-wrapper{ height:auto !important;}

.container-width {
    max-width: 1240px;
    padding:0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

#spinner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url(../images/ajax-loader.gif) 50% 50% no-repeat #fff;
}

/* Start Header */
.page-header .panel.wrapper{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 8px 0;
}
.tm_headerlinkmenu {
    float: right;
    position: relative;
    display: inline-block;
    padding: 0 18px 0 0;
    cursor: pointer;
}
.my-account-cms::after {
    content: "\e622";
    font-family: luma-icons;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 3px;
}
.tm_headerlinks_inner .headertoggle_img:hover:before{color:#e76453;}
.header-social {
    float: left;
    display: inline-block;
    text-align: left;
}
.header-social .social_block {
    display: inline-block;
    margin: 0 15px 0 0;
    float: unset;
    font-size: 14px;
}
body .page-header .switcher {
    float: right;
    padding: 0;
    margin-right: 15px;
    position: relative;
    padding-right: 15px;
}
body .page-header .switcher::after{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    background: rgba(119,119,199,0.3);
    width: 1px;
    height: 12px;
}
.my-account-cms:hover, .my-account-cms:hover::after {color: #e62e04;}
.tm_headerlinks_inner .tm_headerlinks{ 
    display:none;   
    float:none; 
    padding:10px; 
    position:absolute; 
    right:0px; 
    border:1px solid #e3e2e2;
    background:#f6f6f6; 
    border-radius: 5px;-webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 0 2px 2px #cccccc;
    -webkit-box-shadow:0 2px 2px #cccccc;
    -moz-box-shadow: 0 2px 2px #cccccc; 
    width:210px; 
    text-align:left; 
    top: 30px;
    z-index:4; 
    box-sizing : border-box;
}
.block-search .action.search{
    background: rgba(212,62,42,1);
    background: -moz-linear-gradient(top, rgba(221,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,62,42,1)), color-stop(100%, rgba(231,100,82,1)));
    background: -webkit-linear-gradient(top, rgba(221,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -o-linear-gradient(top, rgba(221,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: linear-gradient(to bottom, rgba(221,62,42,1) 0%, rgba(231,100,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43e2a', endColorstr='#e76452', GradientType=0 );
}
body .page-header .switcher .options ul.dropdown, body .page-footer .switcher .options ul.dropdown{margin-top: 7px;}
.tm_headerlinks .panel.header{ padding: 0px;}
.header.panel .tm_headerlinks .compare a{ color: #666;}
.header.panel .tm_headerlinks .compare a:hover{ color: #e76453;}

.header_msg{ float: right; padding: 9px 0px; }
.header_msg .msg_inner{ border-right: 1px solid #ccc;  margin: 0;  padding: 0 10px 0 0;}
.header_msg .msg_inner li{ margin:0px; padding: 0px; }

.header-left{ float: left; }
.header-right{float:right;}
.header-logo{ float: left; }

.minicart-wrapper .action.showcart:before{  
    content: "\f0d7";
    font-family: "fontawesome";
    position: absolute;
    top: 4px;
    font-size: 15px;
    display: block;
    right: 4px;

}
.minicart-wrapper .action.showcart.active:before{content: "\f0d8"; font-size: 15px; font-family: "fontawesome"; display: block;}
.block #minicart-content-wrapper .block-content li { padding:10px 0 15px; cursor: default;}
.counter-item > span, .minicart-wrapper .counter-item {  display: none;}
.block-search input {border: unset;}
/* End Header */



.page-header .header-nav-outer {position: relative;  z-index: 9;}
.menu-mobile{display: none;}

.nav-container{ 
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(216,215,211,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(216,215,211,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(216,215,211,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(216,215,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(216,215,211,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(216,215,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d8d7d3', GradientType=0 );
    border-radius:5px 0px 5px  5px;
    -moz-border-radius: 5px 0px 5px  5px;
    -webkit-border-radius: 5px 0px 5px  5px;
    -khtm-border-radius: 5px 0px 5px 5px; 
    border-right: 1px solid #CBCACA;
    border-top: 1px solid #CBCACA;
    -moz-box-shadow: 0px -3px 2px 0px rgba(105, 105, 105, 0.12) inset;
    -webkit-box-shadow: 0px -3px 2px 0px rgba(105, 105, 105, 0.12) inset;
    box-shadow: 0px -3px 2px 0px rgba(105, 105, 105, 0.12) inset;
    display: inline-block; 
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0px 0 16px;
    height: 51px;
}
/* Start Simpal Menu */

.header-nav .navigation ul{ 
    background:transparent;
    border: medium none;
    border-radius: 0; -webkit-border-radius:0px;  -khtml-border-radius:0px;  -moz-border-radius:0px;
    box-shadow: none;  -moz-box-shadow: none; -webkit-box-shadow: none;
    padding: 0;}

.header-nav .navigation .submenu > li{ margin: 0px; line-height: 22px;}
/* End Simpal Menu */


/* Start  Advance menu */
.sidebar .navigation {
    margin-bottom: 28px;
    margin-left: 4px;
    margin-top: -62px;
    width: 232px;
    box-sizing: border-box;
}
.sidebar .navigation.custommenu .mainmenu .level0.newsubmenu,
.sidebar .navigation.custommenu .mainmenu .menu-dropdown-icon > ul{display: none;}

.navigation.custommenu ul > li > ul{ display: none; }
.nav-sections-item-content > .navigation.custommenu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    padding: 0;
    width: 19.4%;
    z-index: 99;
}
.page-layout-1column .nav-sections-item-content > .navigation.custommenu {
    margin: 4px 0 0 4px;
}
.navigation.custommenu .menu-title:after {
    color: #ffffff;
    content: "\f13a";
    font-family: "FontAwesome";
    margin-top: -10px;
    position: absolute;
    right: 10px;
    top:16px;
    font-size: 16px;
}
.navigation.custommenu .menu-title.active:after{content: "\f139";}
.navigation.custommenu .menu-title {
    color: #ffffff;
    cursor: pointer;
    padding: 0 4px;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    width: 228px;
    box-sizing: border-box;
    margin: 0;
    background: #f6f6f6;
}

.menu-title-inner {
    background: #e76452 none repeat scroll 0 0;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    color: #ffffff;
    font-size: 16px;
    padding: 4px 6px 6px;
    text-transform: capitalize;
    font-weight: normal;
}
#mainmenu {
    background:#f6f6f6;
    display: none;
    margin-bottom: 0px;
    margin-left: -4px;
    margin-top: 0;
    padding: 0px 0;
    position: relative;
    width: auto;
    border-bottom: 4px solid #e2e1de;
    border-left: 4px solid #e2e1de;
    border-right: 4px solid #e2e1de;
    border-top: none;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -khtml-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    top: 0px;
    box-sizing: border-box;
}
.page-layout-2columns-left #mainmenu{ display: block; }
.navigation.custommenu ul > li{
    border-bottom: 1px solid #d5d5d5;
    display: block;
    margin: 0;
    vertical-align: middle;
}
.navigation.custommenu ul > li:last-child{ border-bottom: none; } 

.navigation.custommenu .mainmenu .menu-dropdown-icon::before {
    color: #d5d5d5;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 99;
    font-weight: 600;
}
.navigation.custommenu .mainmenu .menu-dropdown-icon:hover:before{ color:#fff; }
.navigation.custommenu .mainmenu .menu-dropdown-icon:hover:after {
    background: #d5d5d5 none repeat scroll 0 0;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -khtml-border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    content: "";
    height: 28px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 3px;
    width: 29px;
    z-index: 54;
    border: 1px solid #e1e1e1;
    border-right: unset;
}
.navigation.custommenu ul li > .level-top{
    box-sizing: border-box;
    display: block;
    float: none;
    font-weight: 400;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation.custommenu ul .bottomstatic{ display: inline-block; width: 100%; }
.navigation.custommenu ul .bottomstatic > p{ padding: 10px 0 0; margin: 0px; }

.navigation.custommenu .mainmenu .level0.newsubmenu,
.navigation.custommenu .mainmenu .menu-dropdown-icon > ul {
    display: none;
    left: 100%;
    margin: 0;
    min-width: 600px;
    padding: 20px;
    position: absolute;
    top: 5px;
    width: auto;
    background: #f6f6f6;
    border: 5px solid #d8d7d3;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    z-index: 1;
}
.navigation.custommenu .mainmenu .level1 > a{
    background: #e1e1e1;
    border-bottom: medium none;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    color: #211f20;
    display: block;
    float: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px;
    padding: 5px 10px;
    position: relative;
    text-transform: capitalize;
}
.navigation.custommenu .level0 .submenu{ display: block; }

.navigation.custommenu .level0 .submenu{
    border: medium none;
    left: auto;
    min-width: auto;
    position: relative;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.navigation.custommenu .mainmenu .level1 .level2 a {
    font-weight: normal;
    padding: 3px 0 3px 10px;
    position: relative;
    margin: 0;
    float: none;
}

/*.navigation.custommenu .mainmenu .level1 .level2 a:before {
    content: "\f111";
    font-family: fontawesome;
    font-size: 5px;
    left: 0;
    position: absolute;
    top: 9px;
}
.navigation.custommenu .mainmenu .level1 .level2 a:hover:before {
    left: 5px;
}*/

.navigation.custommenu .mainmenu .level0 .submenu a:hover, .navigation.custommenu .level0 .submenu a.ui-state-focus {
    background: transparent;
}
.navigation.custommenu .mainmenu  .level0:hover .level0.newsubmenu {
    display:block; min-width: 460px;
}
.navigation.custommenu .mainmenu li.level1 {
    float: left;
    margin: 0;
    padding: 0 10px;
    padding-left: 10px;
    display: inline-block;
    border: none;
    width: 30%;
}
.navigation.custommenu .mainmenu li.level1:nth-child(3n+1) {padding-left: 0;}
.navigation.custommenu .mainmenu li.level1:nth-child(3n+0) {padding-right: 0;}
.navigation.custommenu .level0 .level2{
    float: none;
    display: block;
    border: none;
}
.navigation.custommenu .mainmenu .level0 .submenu .submenu {
    left:auto !important;
    top: auto !important;
    display: block;
    border: none;
    background: transparent;
    position: relative;
    box-shadow:none; -moz-box-shadow: none; -webkit-box-shadow: none;
    min-width:auto;
}
.navigation.custommenu .mainmenu .level0.customblock_inner.newsubmenu { padding: 10px; }
.customblock_inner .static-block1 {
     float: left;
    padding: 0px; min-width: 180px;
}
.customblock_inner  .custom-link a {
    font-weight: normal;
    line-height: 32px;
    padding: 0;
}
.navigation.custommenu .customblock_inner .static-block1 li{ float: none; display: block; }
.customblock_inner .static-block1 > a {
    color:#1f2022;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding:0 0 6px;
    border-bottom: 1px solid #dddddd;
    margin:0 0 13px;
}
.customblock_inner .custom_banner {
    float: right;
    line-height: 0;
}
a:active{text-decoration: unset;}
/* End  Advance menu */


/* For Start Breadcumbs */
@media (min-width: 768px) {
    .page-wrapper > .breadcrumbs {
        width: 100%;
    };
}

.page-wrapper > .breadcrumbs {
    background: #f2f2f2;
    display: inline-block;
    margin-bottom: 60px;
    padding: 50px 0;
    vertical-align: top;
    width: 100%;
    max-width: none;
}
/* End Breadcumbs */


/* sidebar */
.sidebar .block{
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #e3e2e2;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
    margin-bottom: 21px;
    padding: 15px;
}
.cms-home .block-compare, .cms-home .block-wishlist, .cms-home .block-reorder{display: none;}
.sidebar .block-title {
    background: transparent;
    padding: 0px 0px 13px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    border-bottom: 4px double #d5d5d5;
}

.sidebar .block .block-title strong {
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
    border: none;
    min-height: 16px;
    color: #e76453;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0px;
    line-height: 20px;
    font-weight: normal;
    position: relative;
}

.block .block-title a {text-decoration: none !important;}
.block .block-content,.block > .empty {margin: 0px 0 0 0;}
.block .block-content li {padding: 4px 0;}
.page-main {position: relative;}
.product.media .fotorama {overflow: visible;}
.fotorama__wrap .fotorama__stage{
    border: 1px solid #e3e2e2;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
}
.fotorama__stage .fotorama__img {
    box-sizing: border-box;
    margin-bottom: 20px;
}
.fotorama__thumb-border {border: 1px solid #e76453 !important;}
.fotorama__thumb {background: transparent !important;}

.fotorama__stage:before,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__nav:after,
.fotorama__stage.fotorama__shadows--left:before,
.fotorama__nav.fotorama__shadows--left:before {
    display: none !important;
}

.fotorama--fullscreen .fotorama__stage .fotorama__img {border: none !important;}
.media  .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    margin:30px 0px 0px;
    text-align: center;
}

.media .fotorama__nav--thumbs .fotorama__nav__frame {
    margin: 0px 0px;
    padding:0px 0px!important
    border:1px solid transparent;
}
.fotorama__arr--disabled {
    opacity:1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity:1;
    -ms-opacity: 1;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb--icon:before {
    color: #cccccc;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 40px;
    position: absolute;
    top:13px;
    right: 0px;
    left: 0px;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb--icon:hover:before,
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb--icon:hover:before{ color: #e76453; }

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb--icon:before {
    color: #cccccc;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 40px;
    padding: 0px;
    position: absolute;
    top: 13px;
    right: 0px;
    left: 0px;
}
.fotorama__thumb__arr .fotorama__thumb--icon {
    background: #ffffff none repeat scroll 0 0 !important;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}
.fotorama__thumb__arr, .fotorama__arr{background: transparent !important; }

.page-layout-1column .block.widget .products-grid .product-item {
    width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.page-layout-1column .block.widget .products-grid .widget-product-grid .product-item {
	 width: 25%;
	 margin: 0px 0px 30px !important;
}

/* Back to top */
.top_button {
    background:url("../images/up.png") no-repeat scroll 0 0 transparent; 
    bottom: 20px;
    display: none;
    font-size: 0;
    height: 28px;
    position: fixed;
    right: 20px;
    width: 28px;
    z-index: 99;
}
/* Back to top */

.wishlist-index-index .product-item-inner{
	border: none !important;
	display: block;
	margin:10px  0px 0px;
	float:none;
	clear:both;
	top:auto;
	box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	bottom:auto;
	padding: 0px;
	position: relative;
	text-align:center;
}
.wishlist-index-index .box-tocart{margin-bottom: 0px;}


/* Block: Sidebar Category Navigation start*/

ul#category-treeview{padding:0px 0px;}
#category-treeview li a,
.block-account .block-content li a,
.block-brand-nav li a{
    display: block;
    padding: 4px 0 4px 0px;
    text-decoration: none;
	transition:300ms; -webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:300ms;
	text-transform:capitalize;
    line-height: 22px;
    color: #666;
}
#category-treeview li > a:hover,.block .block-content .side-nav li a:hover{ color: #e76453;}

#category-treeview li,
.block-account .block-content li,
.block-brand-nav li,
.block-layered-nav li{
    position:relative;
    transition:300ms;
    -webkit-transition:300ms;
    -moz-transition:300ms;
    -ms-transition:300ms;
    -o-transition:300ms;
}

#category-treeview li > a:hover:before,.block .block-content .side-nav li a:hover{color:#ee2b63;}

#category-treeview li ,
.block-account .block-content li ,
.block-brand-nav li{padding:0 !important; margin:0px;}

#recently-viewed-items li{padding:8px 0px;}

#category-treeview li ul {margin-left:15px;}

#category-treeview li.last a ,
.block-account .block-content li.last a,
#recently-viewed-items li.last a,
.block-brand-nav li:last-child a
{border-bottom:none;}

#category-treeview .hitarea {
	background: none;
	height: 21px;
	width: 21px; 
	float: right;
	cursor: pointer;
	margin-right:0px;
	 margin-top: 4px; text-align:right;
}
#category-treeview .expandable .collapsable-hitarea:before{ 
	color: #000;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 10px;
} 
#category-treeview .expandable-hitarea:before { 
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 10px;
} 
#category-treeview .collapsable-hitarea:before { 
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 10px;
} 
/* Block: Sidebar Category Navigation End */
body .sidebar .product-items .product-item-details {
    margin: 0;
    text-align: left;
    float: left;
    width: 66%;
    overflow: hidden;
    padding-bottom: 0;
}
.sidebar .product-items .product-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-sections-item-title.active a{ color: #ffffff;}
.nav-sections-item-title a{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
.nav-sections-item-title {background: #f7f7f7;}
.nav-sections-item-title.active {background:#e76453;}
input[type="checkbox"] {vertical-align: text-top;}

 #mobile{display: none;}
.product-item-details {
    text-align: center;
    position: relative;
    z-index: 5;
    padding: 0 10px 14px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.grid .product-item-name{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.grid .product-item .price-box {margin: 3px 0px 14px;}
.cms-home .latest-Product .product-item .actions-primary .tocart {
    font-size: 13px;
    padding: 7px 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
}
.block.widget .product-item-info {padding: 0;}
.products-grid .product-item-info .product-item-image {margin-bottom: 0; max-width: 100%; position: relative;}
.product-item-inner {
    position: absolute;
    opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    padding: 0;
    margin: 0;
    top: 50px;
    right: -40px;
    box-sizing: border-box;
    transition: 500ms;
}
.product-item-info:hover .product-item-inner{
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    right: 10px;
}

.pro-hover {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.pro-hover .actions-primary {
    opacity: 0;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
}

.product-item-details .product-reviews-summary {margin-bottom: 5px;}
.product-item-details .product-item .price-box {margin: 3px 0px 13px;}
.product-item-info:hover .pro-hover .actions-primary {opacity: 1;}
.product-item-info:hover .pro-hover .price-box{opacity: 0;}

.product-info-main .page-title-wrapper h1{
     color: #e76453;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    text-transform: capitalize;
    border-bottom: 1px solid #efefef;
    padding: 0 0 7px;
}
.product-info-price .price-box .old-price .price-container .price-label{ display: none;}
.product-info-price .price-box .special-price {  display: inline-block;  padding: 0 5px 0 0;}
.product-info-price .price-box .old-price {  display: inline-block;}
.rating-summary .rating-result::before{color: #d0d0d0;}
.rating-summary .rating-result > span::before{color: #f7bb03;}
.header-right .minicart-items .product-item-details {
    padding-left: 10px;
    text-align: left;
    width: 73%;
}
.minicart-wrapper .minicart-items-wrapper .product .actions {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
}
.product-item-info {padding: unset;}
/* Start Theme */

.breadcumb_filter .filter-outer{ background:#e76453;}
.breadcumb_filter{ margin: 0 0 50px 0;}
.product-item:hover .product-item-name > a{ color:#e76453;}
.sidebar .product-item .actions-primary .tocart{ background: transparent; color: #000; padding: 0px; border:none;}
.block.account-nav {display: none;}
.account.wishlist-index-index .product-item-inner {
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    right: unset;
    transition: unset;
    padding: 0 10px;
}
/* brand */
.manufacturer{ background: #fff;}
.manufacturer .brand_title {display: none;}
.manufacturer .owl-carousel .owl-item{ width: 228px; }
.brand-item { 
    text-align:center; 
    border-radius: 3px; -webkit-border-radius:3px;  -khtml-border-radius:3px;  -moz-border-radius:3px;
    margin: 8px;
    padding: 10px 0;
} 
.brand-item .product-block-inner{ padding: 10px 7px; }
.brand-item a {  display: inline-block;}
.brand-item img{
    opacity: 0.4;
    -khtml-opacity: 0.4;
    -webkit-opacity: 0.4;
    -moz-opacity:0.4;
    -ms-opacity: 0.4;
}
.brand-item img:hover{
    opacity:1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity:1;
    -ms-opacity: 1;
}

.brands-inner .owl-nav div {   top: 63px;}
.megnor-brand-view .column.main h1, .brand-index-index .page-title-wrapper h1{
    color: #e76453;
    font-size: 2.36923rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
}
.megnor-brand-view .category-description{margin: 20px 0 30px;}
.manufacturer .owl-controls .owl-nav .owl-prev:before{
    content: "\f104";
    font-size: 28px;
    color: #c7c7c7;
    top: -8px;
}
.manufacturer .owl-controls .owl-nav .owl-next:before{
    content: "\f105";
    font-size: 28px;
    color: #c7c7c7;
    top: -8px;
}
.manufacturer .owl-controls .owl-nav .owl-prev:hover:before, .manufacturer .owl-controls .owl-nav .owl-next:hover:before{color: #e76453;}
.manufacturer .owl-controls .owl-nav .owl-prev{ left:-25px; right: auto; top:45px; }
.manufacturer .owl-controls .owl-nav .owl-next{ left:auto; right: -25px; top:45px; }
.brand-index-index .columns .products-grid .product-item{ float: left; }
/* footer */
.footer_top{ display: block; width: 100%; overflow: hidden; }

.footer_center {
    display: block;
    margin: 40px 0;
    overflow: hidden;
}
.footer-inner .footer-area {
    box-sizing: border-box;
    float: left;
    margin-left: 29px;
    padding: 0;
    width: 22.5%;
}
.footer-inner .footer-area#block_1{margin-left: 0;}
.footer-area h6 {
    color: #e76453;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 20px;
    position: relative;
    text-shadow: none;
    text-transform: capitalize;
}
.footer-inner .footer-area ul {margin: 0;}
.footer-inner .footer-area ul li {margin: 0; padding: 5px 1px;}
.footer-inner .footer-area ul li a{
    background: url("../images/footerdot.png") no-repeat scroll left 7px transparent; padding-left: 12px;
}
.footer-inner .footer-area ul li a:hover{background-position:2px -9px; text-decoration:unset;}
.footer-inner #block_4.footer-area ul li a{background: transparent; padding:0px;}
#block_4 .fa {
    float: left;
    font-size: 13px;
    margin-right: 9px;
    margin-top: 4px;
}
#block_4 .contact_address > span {
    display: block;
    padding: 0 0 0 20px;
}
#block_4 .fa.fa-mobile { font-size: 16px;}
#block_4 .email .fa { font-size: 11px;  margin-top: 6px;}

.footer_bottom{ 
    display: block; 
    width: 100%; 
    overflow: hidden; 
    text-align: center;
    border-top: 1px solid #c7c7c7;
    margin: 10px 0px;
    padding-top: 10px; 
}
.footer_bottom ul.links { margin: 0; padding: 5px 0;}
.footer_bottom li:first-child{ background: transparent; }
.footer_bottom li {
    background:url("../images/pipe.gif") no-repeat scroll left center transparent;
    display: inline;
    margin: 0;
    padding: 0 8px 0;
    font-size: 13px;
}
.footer_bottom .copyright {margin: 0; padding: 10px 0;}
.footer_bottom ul.payment_icon {
    margin: 10px 0;
}
.footer_bottom .payment_icon li {
    display: inline-block;
    padding: 0 4px;
    background: unset;
}
.product-item .action.towishlist{
    font-size: 0;
    background:#fff url(../images/pro-icon.png) no-repeat 6px 9px;
    width: 30px;
    height: 30px;
}
.product-item .action.towishlist:hover{background-position: 6px -23px;}
.product-item .action.tocompare{
    background:#fff url(../images/pro-icon.png) no-repeat 6px -55px;
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 5px; 
}
.product-item .action.tocompare:hover{background-position: 6px -87px;}
.product-item .action.tocompare span{font-size: 0;}

.product-item .action.towishlist::before,
.product-item .action.tocompare::before{content: unset;}

.footer_bottom .payment_icon li a span { font-size: 0;}
.footer_bottom .paypal img {margin: 0;}

/* End Footer */
.post-date .fa {margin-right: 8px;}
.blog_inner .post-date {
    border-bottom: 1px solid #eaeaea;
    color: #d94734;
    margin: 0 0 8px;
    padding: 10px 0;
    vertical-align: top;
}
.post-title {
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-title a {
    color: #211f20;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}
.post-title a:hover {color: #e76453;}
.blog .post-description {
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0 10px;
}
.post-list .post-text-hld.clearfix {margin: 7px 0px;}
.blog .post-content-inner .post-author {display: none;}
.blog-widget-recent .post-holder {
    margin: 8px;
    background: transparent;
    padding: 0px;
}
.blog-image {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.blog-widget-recent .post-list-outer {margin: 0px -8px;}
.blog .post-image-hover,
.blog_inner .post-image-hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    border-radius: 5px;
}
.blog .image-hover-block,
.blog_inner .image-hover-block {
    margin: 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 41%;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.blog .image-hover-block .zoom,
.blog .image-hover-block .read,
.blog_inner .image-hover-block .zoom,
.blog_inner .image-hover-block .read {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    z-index: 1;
    opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    height: 40px;
    width: 40px;
}
.blog .post-ftimg-hld:hover .post-image-hover,
.blog_inner .post-ftimg-hld:hover .post-image-hover {
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.blog_inner .product-image-inner-blog .post-ftimg-hld:hover .zoom,
.blog_inner .product-image-inner-blog .post-ftimg-hld:hover .read {
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}
.blog .image-hover-block .zoom:hover,
.blog .image-hover-block .read:hover,
.blog_inner .image-hover-block .zoom:hover,
.blog_inner .image-hover-block .read:hover {
    background: rgba(231, 100, 83, 0.6);
}
.blog-image img{border-radius: 5px;}
.post-view .post-content h2 {margin: 20px 0 0;}
.post-content .post-description .post-ftimg-hld img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}
.post-view .post-content h2 a {
    font-size: 22px;
    font-weight: 500;
    color: #e76453;
}
.post-view .post-content .post-info.clear {margin: 7px 0px;}
.post-view .post-text-hld {margin: 0 0 20px;}
.post-content .post-info .item, .post-content .post-info .dash {display: inline-block;}
.post-content .post-info .label {font-weight: 700;}
.post-content .post-info .value {font-style: italic;}
.post-list .blog_inner {margin-bottom: 20px;}
.blog_inner .post-content {
    margin: 4px;
}
.post-ftimg-hld {position: relative;}
.breadcrumbs a:hover {text-decoration: unset;}
/* Start Product List View */
.products.list.products-list{ margin: 22px 0;}
.products.list.product-items{ margin: 0px;}

.products-list .product-item-details .list-left .actions-secondary a.action {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    margin: 0 5px 0;
    padding: 5px 17px;
    position: relative;
    text-transform: capitalize;
    border: 1px solid #dad4cd;
    background: rgba(238,237,235,1);
    background: -moz-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,237,235,1)), color-stop(100%, rgba(207,207,207,1)));
    background: -webkit-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -o-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,237,207,1) 100%);
    background: linear-gradient(to bottom, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedeb', endColorstr='#cfcfcf', GradientType=0 );
    width: unset;
    height: unset;
    display: inline-block;
    border-radius: 3px;
    line-height: 18px;
    vertical-align: middle;
}
.products-list .product-item-details .list-left .actions-secondary a.action.tocompare{margin: 0;}
.products-list .product-item .action.tocompare span {font-size: 13px;}
.products-list .product-item-details .list-left .actions-secondary a.action:hover{ color: #000;}

.list-left .product-item-actions,
.list-left  .actions-secondary
{display: inline-block;}

.product-social-links .action.towishlist:before,
.block-bundle-summary .action.towishlist:before, 
.table-comparison .action.towishlist:before{  
    content: "\f08a"; 
    font-family: fontawesome; 
    font-size: 14px; 
    padding: 0px;
}
.product-social-links .action.tocompare:before {  
    content: "\f24d"; 
    font-family: fontawesome; 
    font-size: 14px;
    padding: 0px;
}
.product-social-links .action.tocompare, 
.product-social-links .action.towishlist,
.product-social-links .action.mailto.friend{
    font-weight: normal;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.product-social-links .action.mailto.friend:before{content: "\f003"; font-family: fontawesome; font-size: 14px;}

.relatedpost-product .product-item-actions .actions-secondary > .action{padding: 5px 10px;}

.sale-label, .new-label{
    background: #e76453 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 12px;
    padding: 22px 36px 3px 25px;
    position: absolute;
    right: -35px;
    text-align: center;
    text-transform: uppercase;
    top: -5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -moz-transform:rotate(45deg); 
    z-index: 9;
}
.products-list .product-item-info .product-item-image .new-label,
.products-list .product-item-info .product-item-image .sale-label{ 
    right: auto; 
    left: -38px; 
    top: -40px; 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg); 
} 

/* End Product List View */
.modes-mode.active.mode-grid, .modes-mode.mode-grid:hover{ background-position:-225px -67px;}
.modes-mode.mode-grid{ background-position: -181px -68px;}

.modes-mode.active.mode-list, .modes-mode.mode-list:hover{ background-position: -226px -44px}
.modes-mode.mode-list{ background-position: -182px -45px;}

/* start Product related upsell cross sell View */
.block.upsell .category-title, .block.related .category-title, .block.crosssell .category-title, .related.relatedpost-product .block-title { background-position: 0px 33px;}
.block.upsell .category-title h2 strong, .block.related .category-title h2 strong, .block.crosssell .category-title h2 strong, 
.relatedpost-product .block-title strong,.block.relatedpost #block-relatedposts-heading{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #e76453;
}
.block.related .block-actions {
    text-align: center;
}
body .products.wrapper .list-left .product-reviews-summary {margin: 0 0 10px;}
.list-left.product.name a {
    font-size: 16px;
    line-height: 20px;
}
.list-left .action.more {display: none;}
.list-left .product-item .price-box {margin: 8px 0 0;}
.list-left .product-item-description {margin: 0 0 15px;}
.products-list .product-item-details {padding: 0 0 0 30px;}
.page-products .products.wrapper.grid.products-grid .product-items .product.product-item .swatch-option{display: block; text-align: center;}
.page-products .products.wrapper.list.products-list .product-items .product.product-item .swatch-option,
.page-products .products.wrapper.grid.products-grid .product-items .product.product-item .swatch-option,
.sidebar .swatch-option,
#product-options-wrapper .swatch-option{
    height: 14px;
    margin: 0 8px 5px 0;
    max-width: 12px;
    min-width: 12px;
    border: 1px solid transparent;
    outline: unset;
    float: unset;
    display: inline-block;
}
.columns .sidebar .product-items .product-item-info .product-item-photo {margin: 0;}
.swatch-attribute-options {margin-top: 15px;}
/* End Product related upsell cross sell View */

.account .page-main .columns .column.main .block .block-title > strong, .fieldset > .legend{ font-family: "Lustria",serif; color: #000; font-size: 16px; font-weight: 500;}
.multicheckout .block-title strong, .multicheckout .block-content .title strong{ font-family: "Lustria",serif; color: #000;}
.block.relatedpost .title{ display: inline-block; width: 100%; margin:0px 0 15px;}

/* Start responsive menu */
.header-left .action.nav-toggle span:before {
    transition-property: top, transform;
    -webkit-transition-property: top, transform;
    -moz-transition-property: top, transform;
    -ms-transition-property: top, transform;
    -o-transition-property: top, transform;
}

.header-left .action.nav-toggle span:after, .header-left .action.nav-toggle span:before {
    transition-delay: 0.25s, 0s;
    -webkit-transition-delay: 0.25s, 0s;
    -moz-transition-delay: 0.25s, 0s;
    -ms-transition-delay: 0.25s, 0s;
    -o-transition-delay: 0.25s, 0s;
    transition-duration: 0.25s, 0.25s;
    -webkit-transition-duration: 0.25s, 0.25s;
    -moz-transition-duration: 0.25s, 0.25s;
    -ms-transition-duration: 0.25s, 0.25s;
    -o-transition-duration: 0.25s, 0.25s;

}
.header-left .action.nav-toggle span:before {
    top: -8px;
}
.header-left .action.nav-toggle span:after, .header-left .action.nav-toggle span:before {
    background-color: #000;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;

}
.header-left .action.nav-toggle span:after {
    transition-property: bottom, transform;
    -webkit-transition-property: bottom, webkit-transform;
    -moz-transition-property: bottom, transform;
    -ms-transition-property: bottom, transform;
    -o-transition-property: bottom, transform;

}
.header-left .action.nav-toggle span:after {
    bottom: -8px;
}
.header-left .action.nav-toggle span {
    transition: background 0s ease 0.25s;
    -webkit-transition: background 0s ease 0.25s;
    -moz-transition: background 0s ease 0.25s;
    -ms-transition: background 0s ease 0.25s;
    -o-transition: background 0s ease 0.25s;

}
.header-left .action.nav-toggle span {
    background: #000 none repeat scroll 0 0;
    display: block;
    height: 3px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 0;
    margin: 0;
    color: #000;
    width: 30px;
    clip: auto;
    overflow: visible;
}

.nav-open .header-left .action.nav-toggle span:after, .nav-open .header-left .action.nav-toggle span:before {
    transition-delay: 0s, 0.25s;
    -webkit-transition-delay: 0s, 0.25s;
    -moz-transition-delay: 0s, 0.25s;
    -ms-transition-delay: 0s, 0.25s;
    -o-transition-delay: 0s, 0.25s;

}
.nav-open .header-left .action.nav-toggle span:before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.nav-open .header-left .action.nav-toggle span:after {
    bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.nav-open .header-left .action.nav-toggle span {
    background: transparent;
}
/* End responsive menu */
.account.sales-order-print .page-title-wrapper{
        background: none;
        margin-bottom:0px;
        min-height:0px;
        padding:0px;
        text-align: left;
}
.account.sales-order-print .breadcumb_outer{ padding: 50px 0 50px;}
.order-status-title {
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    width: 100%;
}
.order-status-title .order-date{display: inline-block;}
.account.sales-order-print .order-date{display:block; color: #fff;}
.account.sales-order-print .columns{margin-top: 45px;}
.price-container .price {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0;
    line-height: 28px;
}
.product-item .old-price .price {color: #808080;}
._keyfocus :focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{box-shadow: unset;}

/*Contact Form*/
.custom-contact-form{
    float: left;
    margin-bottom: 10px;
    width: 49%;
}
.googlemap{
    display: block;
    float: left;
    margin: 0 0 0 2%;
    width: 49%;
}
/*Contact form ends*/
.catalogsearch-advanced-result .main .message.error{ margin-top: 0px; }

/* Homepage CMS Banner start */
.homepage_cms_banner {
    display: block;
    overflow: hidden;
    margin: 0px 0 21px;
}
.cms_banner {
    float: left;
    box-sizing: border-box;
    border-right: 2px solid #ffffff;
    width: 25%;
    padding: 5px;
}
.cms-banner1{background: url("../images/bg1.jpg") no-repeat scroll left center transparent;border-radius: 5px 0 0 5px; -webkit-border-radius:5px 0 0 5px;  -khtml-border-radius:5px 0 0 5px;  -moz-border-radius:5px 0 0 5px;}
.cms-banner2{background: url("../images/bg2.jpg") no-repeat scroll left center transparent;}
.cms-banner3{background: url("../images/bg3.jpg") no-repeat scroll left center transparent;}
.cms-banner4{background: url("../images/bg4.jpg") no-repeat scroll left center transparent; border-radius: 0 5px 5px 0; -webkit-border-radius:0 5px 5px 0;  -khtml-border-radius:0 5px 5px 0;  -moz-border-radius:0 5px 5px 0;}

.cms_text_inner{
    padding: 11px 5px;
    text-align: center;
}
.cms-img{
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    width: 46px;
}
.cms-banner1 .cms-img{background: url("../images/offer1.png") no-repeat scroll 1px center transparent;}
.cms-banner2 .cms-img{background: url("../images/offer2.png") no-repeat scroll 1px center transparent;}
.cms-banner3 .cms-img{background: url("../images/offer3.png") no-repeat scroll 1px center transparent;}
.cms-banner4 .cms-img{background: url("../images/offer4.png") no-repeat scroll 1px center transparent;}

.cms_banner:hover .cms-img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);  -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -moz-transform:rotate(360deg); 
    transition-duration: 0.9s;
    -webkit-transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    -ms-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
}
.cms_banner .cms-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 8px;
    text-align: left;
}

.cms_banner .cms-text .static-text1 {
    color: #ffffff;
    font-family: "Oswald";
    font-size: 16px;
    display: block;
}

.cms_banner .cms-text .static-text2 {
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.cms_banner.cms-banner4 .cms-text .static-text1,.cms_banner.cms-banner4 .cms-text .static-text2{ color: #000; }
/* Homepage CMS Banner End */

/* Homepage Banner start */
.sub_banner{
    display: block;
    overflow: hidden;
    margin: 0px 0 21px;
}
.subbanner{
    box-sizing: border-box;
    float: left;
    width: 32.2%;
    position: relative;
    margin: 0 7px;
}
.subbanner .banner_text {position: absolute; top: 28%; left: 14px;}
.subbanner .banner_text .text-1 {
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 0;
    color: #393d3e;
    font-family: 'Squada One', cursive;
    text-transform: capitalize;
    display: block;
}
.subbanner .banner_text .banner_btn {
    display: block;
    margin-top: 5px;
}
.subbanner .banner_text .banner_btn a{
    color: #e76453;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: capitalize;
}
.subbanner .banner_text .banner_btn a:hover{color: #000;}
.subbanner1 {margin-left: 0;}
.subbanner3 {margin-right: 0;}
.subbanner a{ position: relative; display: block; overflow: hidden;}
.subbanner .banner_image a:before{
    background: rgba(249,249,249,1);
    background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,249,249,1)), color-stop(47%, rgba(246,246,246,0.53)), color-stop(100%, rgba(237,237,237,0)));
    background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
    background: -o-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
    background: -ms-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
    background: linear-gradient(to right, rgba(249,249,249,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
    content: "";
    height: 98%;
    position: absolute;
    transform: translate3d(300%, 0%, 0px);
    -webkit-transform: translate3d(300%, 0px, 0px);
    -ms-transform:translate3d(300%, 0px, 0px);
    -o-transform:translate3d(300%, 0px, 0px);
    -moz-transform:translate3d(300%, 0px, 0px);
    width: 100px;
    margin: auto 0;
    top: 0px;
    bottom: 0px;
    opacity: 0.6;
    -khtml-opacity: 0.6;
    -webkit-opacity:0.6;
    -moz-opacity:0.6;
    -ms-opacity: 0.6;

}
.subbanner:hover .banner_image a:before{
    transform: translate3d(-90px, 0px, 0px);
    -webkit-transform: translate3d(-90px, 0px, 0px);
    -ms-transform:translate3d(-90px, 0px, 0px);
    -o-transform:translate3d(-90px, 0px, 0px);
    -moz-transform:translate3d(-90px, 0px, 0px);
    transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition:all 1s ease-in-out 0s;
}

/* Homepage Banner End */

/* Start .products CMS */

.latest-Product, .special-Product {
    background: #f2f2f2;
    padding: 15px;
    border: 1px solid #e3e2e2;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
    margin: 0 0 21px;
}
.category-title, .brand_title, .blog_title{
    border-bottom: none;
    margin: 0 0 10px;
}
.category-title h2, .brand_title h2, .blog_title h2 {
    box-shadow: none; -moz-box-shadow: none;  -webkit-box-shadow: none;
    border: none;
    min-height: 16px;
    color: #e76453;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0px;
    margin: 0px 0px 10px;
    line-height: 20px;
    font-weight: normal;
    position: relative;
}

.block.widget .products-grid .owl-carousel .product-item{ width: 100%; }

.owl-controls .owl-nav div{
    -webkit-tap-highlight-color:transparent;
    border:none;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 0;
    height: 28px;
    position: absolute;
    top: -33px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    width: 28px;
    z-index:5;
    display: block !important;
} 
.owl-controls .owl-nav .owl-prev:before, .owl-controls .owl-nav .owl-next:before {
    color: #e76452;
    font-family: "FontAwesome";
    font-size: 18px;
    position: absolute;
    padding: 0;
    right: 0px;
    top: 0px;
    left:0px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}
.owl-controls .owl-nav .owl-prev:before{content: "\f177";}
.owl-controls .owl-nav .owl-prev {background:transparent;   right:30px;}

.owl-controls .owl-nav .owl-next:before { content: "\f178";}
.owl-controls .owl-nav .owl-next {background:transparent;    right:0px;}

.owl-controls .owl-nav .owl-prev:hover:before, .owl-controls .owl-next:hover:before{color:#777;}
.owl-controls .owl-nav div i{ display: none;}
.owl-controls a.prev:hover , .owl-controls .owl-nav a.next:hover { text-decoration:none;}
/* End .products CMS */

/* Header cms start */
.header-static-block {
    float: left;
    margin: 20px 0 0 106px;
}
.header_banner > ul{ margin: 0px; }
.header_banner li {
    border-right: 1px solid #c3c3c3;
    float: left;
    list-style: outside none none;
    margin: 0 0 0 10px;
    padding-left: 46px;
    padding-right: 26px;
}
.header_banner li.shipping {background: url("../images/header-sprite.png") no-repeat scroll 0 -3px transparent;}
.header_banner li.shipping:hover{background-position: 0 -45px; }
.header_banner li.Money {
    background: url("../images/header-sprite.png") no-repeat scroll 0 -88px transparent;
    margin: 0 0 0 13px;
    padding-right: 36px;
}
.header_banner li.Money:hover{background-position: 0 -126px;}
.header_banner li.Offer {
    background: url("../images/header-sprite.png") no-repeat scroll -3px -173px transparent;
    margin-right: 0;
    padding: 0 0 0 33px;
}
.header_banner li.Offer:hover{background-position: -3px -218px;}

.header_banner li.Offer { border: medium none;}
.header_banner li a {
    color: #8C8C8C;
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}
.header_banner li a span{ display: block; }
.header .call_banner {
    float: left;
    margin: 5px 0 0;
}
.header .call_banner a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #565656;
    padding-left: 25px;
    background: url(../images/sprite.png) no-repeat scroll -6px -79px transparent;
}
.static-link{margin: 0%; }
.page-layout-2columns-left .static-link{ margin: 0 0 0 20%; }
.static-link .mobile_togglemenu{display: none;}
.static-link ul{margin: 0px; padding: 0px;}
.static-link li::after{
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 2px;
    height: 36px;
    background: url(../images/line.png) no-repeat center center transparent;
    border-radius: 50%;
}

.static-link li:last-child::after{content: unset;}

.static-link li a{
    padding: 14px 24px 13px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #211f20;
}
.static-link li a:hover{ color: #e76453; }
.static-link li:last-child, .static-link li:last-child a{ border: none; }
/* Header cms end */

.pages .action.next:hover::before {color: #fff;}
.pages .action.previous:hover::before {color: #fff;}
.toolbar-products {
    background-color: #f6f6f6;
    border: 1px solid #ffffff;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.32); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.32);  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.32);
    padding: 5px;
}
.products.list-grid {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.32); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.32);  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.32);
    margin: 21px 0;
    padding: 10px;
}
.newsletter-container-inner{float: left; margin: 5px 0 4px; width: 100%;}
.newsletter_cms{
    background: #f6f6f6;
    border: 1px solid #e3e2e2;
    border-radius: 5px; -webkit-border-radius:5px;  -khtml-border-radius:5px;  -moz-border-radius:5px;
    clear: both;
    margin-bottom: 0px;
    margin-right: 2px;
    overflow: hidden;
    padding: 10px 30px;
}
.news-content .newshead:before {
    color: #211f20;
    content: "\f003";
    font-family: "FontAwesome";
    font-size: 28px;
    margin: 0 12px 0 0;
    font-weight: 400;
}
.news-content .newshead {
    margin: 0 15px 0 0;
    color: #211f20;
    float: left;
    font-size: 22px;
    font-weight: 600;
}
.news-content .newshead span {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #777;
    font-weight: 400;
    margin-left: 5px;
}
.news-content{float: left;}
.block.newsletter {
    float: right;
    margin: 3px 0;
    width: auto;
}
.footer_newsletter > h6{display: none;}

.footer_newsletter > ul,
.footer_newsletter li{margin: 0px; padding: 0px;}

.block.newsletter .footer_newsletter input {
    border: 1px solid #ebe8e8;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    color: #000;
    height: 40px;
    padding: 8px 10px;
    width: 290px;
}
.block.newsletter .footer_newsletter input[type="email"]::placeholder{opacity: 1; color: #dedede;}
.block.newsletter .footer_newsletter input:focus{box-shadow: unset; outline-offset: unset;}
.block.newsletter .footer_newsletter .actions{width: auto;}
.block.newsletter .footer_newsletter .action.subscribe{padding: 11px 18px; border-radius: 0 5px 5px 0;}
.block.newsletter .footer_newsletter .field .control:before{ display: none; }
.social_block {float: right; margin: 5px 0 4px;}
.social_block h6 {
     color: #211f20;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 12px 14px 12px 0;
}
.social_block > ul{
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
}
.social_block ul li {
    cursor: pointer;
    float: left;
    height: 45px;
    margin: 0 10px 0 0;
    padding: 0;
    width: 45px;

}
.social_block ul li a:before{
	border-radius: 50%;
    -webkit-border-radius:50%;
    -khtml-border-radius:50%;
    -moz-border-radius:50%;
    color: #e76453;
    font-family: fontawesome;
    font-size: 20px;
    left: 0;
    margin: 0 auto;
    padding: 4px 0;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
.social_block ul li.facebook a:before { content: "\f09a";}
.social_block ul li.twitter a:before{ content: "\f099"; }
.social_block ul li.rss a:before{ content: "\f09e";}

.social_block ul li a:hover::before{ color: #fff; }
.social_block ul li a:hover{ background: #e76453; } 

.social_block ul li a {
    display: block;
    font-size: 0;
    height: 40px;
    width: 40px;
    position: relative;
    border: 2px solid #e76453;
    border-radius: 50%; -webkit-border-radius:50%;  -khtml-border-radius:50%;  -moz-border-radius:50%;
}
.product.info.detailed{ margin: 20px 0 0; display: inline-block; width: 100%; }
.product.info.detailed .product.data.items > .item.title {
    margin: 0 6px 0 0;
}
.product.info.detailed .product.data.items > .item.title > .switch{
    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top, #eeedeb 0%, #cfcfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeedeb 0%,#cfcfcf 100%); /* W3C */
    border-radius: 3px 3px 0 0; -webkit-border-radius:3px 3px 0 0;  -khtml-border-radius:3px 3px 0 0;  -moz-border-radius:3px 3px 0 0;
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 14px;
    text-decoration: none;
    height: auto;
    line-height: 18px;
    border:none;
}
.product.info.detailed .product.data.items > .item.title.active > .switch, 
.product.info.detailed .product.data.items > .item.title > .switch:focus, 
.product.info.detailed .product.data.items > .item.title > .switch:hover{
    background: #d43e2a; /* Old browsers */
    background: -moz-linear-gradient(top, #e76452 0%, #d43e2a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e76452), color-stop(100%,#d43e2a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e76452 0%,#d43e2a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e76452 0%,#d43e2a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e76452 0%,#d43e2a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e76452 0%,#d43e2a 100%); /* W3C */
     color: #fff;
}
.product.info.detailed .product.data.items > .item.content{
    margin-top: 42px;
    padding: 15px 10px;
    border-radius: 0 5px 5px;
    -webkit-border-radius:0 5px 5px;
    -khtml-border-radius:0 5px 5px;
    -moz-border-radius:0 5px 5px;
}
.pages .item .page, .pages .item .action {
    border: 1px solid #dad4cd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 20px;
    padding: 0;
    background: transparent;
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.pages .item.current .page,
.pages .item .action:hover,
.pages .item .page:hover{background: #e76453; color: #fff; border-color: #e76453;}

.form-cart .main.actions .action.continue,
button,
.coupon .actions-toolbar .action.primary {
    background: rgba(238,237,235,1);
    background: -moz-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,237,235,1)), color-stop(100%, rgba(207,207,207,1)));
    background: -webkit-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -o-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,237,207,1) 100%);
    background: linear-gradient(to bottom, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedeb', endColorstr='#cfcfcf', GradientType=0 );
    color: #211f20;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding:6px 12px;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    border: 1px solid #dad4cd;
    vertical-align: middle;
}
.form-cart .main.actions .action.continue:hover,
.action.primary:hover,
.products-list .product-item-details .list-left .actions-secondary a.action:hover,
button:hover,
.coupon .actions-toolbar .action.primary:hover,
.header-right #top-cart-btn-checkout:hover,
.form-cart .main.actions .action.continue:active,
.action.primary:active,
.products-list .product-item-details .list-left .actions-secondary a.action:active,
button:active,
.coupon .actions-toolbar .action.primary:active,
.header-right #top-cart-btn-checkout:active,
.form-cart .main.actions .action.continue:focus,
.action.primary:focus,
.products-list .product-item-details .list-left .actions-secondary a.action:focus,
button:focus,
.coupon .actions-toolbar .action.primary:focus,
.header-right #top-cart-btn-checkout:focus{
    background: rgba(212,62,42,1);
    background: -moz-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,62,42,1)), color-stop(100%, rgba(231,100,82,1)));
    background: -webkit-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -o-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: linear-gradient(to bottom, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43e2a', endColorstr='#e76452', GradientType=0 );
    color: #fff;
    border-color: #d43e2a;
}
.sidebar .left-banner{ margin: 0 0 21px; }
.action.primary,
.header-right #top-cart-btn-checkout {
    border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    background: rgba(238,237,235,1);
    background: -moz-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,237,235,1)), color-stop(100%, rgba(207,207,207,1)));
    background: -webkit-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -o-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,237,235,1) 0%, rgba(207,237,207,1) 100%);
    background: linear-gradient(to bottom, rgba(238,237,235,1) 0%, rgba(207,207,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeedeb', endColorstr='#cfcfcf', GradientType=0 );
}
.sorter-action{ background: #fff; }

.product-add-form .box-tocart .action.tocart,
.block.newsletter .footer_newsletter .action.subscribe, 
.cart-summary .checkout-methods-items .action.primary.checkout{
    background: rgba(212,62,42,1);
    background: -moz-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,62,42,1)), color-stop(100%, rgba(231,100,82,1)));
    background: -webkit-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -o-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    background: linear-gradient(to bottom, rgba(212,62,42,1) 0%, rgba(231,100,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43e2a', endColorstr='#e76452', GradientType=0 );
    color: #fff;
    border-color: #d43e2a;
}
.product-add-form .box-tocart .action.tocart:hover,
.cart-summary .checkout-methods-items .action.primary.checkout:hover
.product-add-form .box-tocart .action.tocart:focus,
.cart-summary .checkout-methods-items .action.primary.checkout:focus,
.product-add-form .box-tocart .action.tocart:active,
.cart-summary .checkout-methods-items .action.primary.checkout:active{
    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top, #eeedeb 0%, #cfcfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeedeb 0%,#cfcfcf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeedeb 0%,#cfcfcf 100%); /* W3C */
    color: #333333;
    border: 1px solid #dad4cd;
}
.cart-container .cart-discount .actions-toolbar .action.primary{
    border-radius: 3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
}
.cart-container .cart.table-wrapper .items{ width:100%;}
.minicart-items .product-item-details {width: 71%; padding: 0 0 0 10px;}
.opc-block-summary .product-item .product-item-inner{
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    transform: unset;
    transition: unset;
    right: unset;
}

.opc-block-summary .product-item .product-item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.minicart-items .product-item-details .details-qty {margin: 5px 0;}
.product-add-form .product-options-wrapper .field:not(.date) > .control {display: inline-block; margin-left: 10px;}
.minicart-items .product-item-details .product.options {display: none;}
.product-item .product-reviews-summary .rating-summary {margin: 0;}
.page-layout-2columns-left .products-list .product-item-details {width: 75%;}
#tab-label-reviews .data.switch .counter {color: #000;}
#tab-label-reviews.active .data.switch .counter {color: #fff;}
.product-info-main .swatch-opt {margin: 0 0 19px;}
.columns .product-info-main .product-options-bottom .box-tocart {margin: 30px 0 5px;}
.product-info-main .stock.available span, .product-info-main .stock.unavailable span {
    font-weight: 600;
    color: #008000;
}
.page-product-configurable .product-info-main .product-info-price {margin-bottom: 0;}
.columns .product-info-main .product-info-price .price-box .price-final_price > span {display: inline-block;}
.authentication-wrapper {display: none;}
#tab-label-reviews .data.switch:hover .counter{color: #fff}
.columns .product-info-main .product-info-price .price-box .price-final_price > span.price-label {display: none;}
.header-social ul{margin: 0}
.swatch-input.super-attribute-select {display: none;}
.static-link li {
    margin: 0px;
    position: relative;
    display: inline-block;
}
.static-link-inner .dropdown-inner-list {
    display: none;
    position: absolute;
    top: 50px;
    background: #fff;
    z-index: 1;
    min-width: 120px;
    right: 0;
    padding: 10px;
    border: 1px solid #cbcaca;
}
.menu-dropdown-icon.hiden_menu:hover .dropdown-inner-list {display: block;}
.dropdown-inner-list li {display: block;}
.static-link .dropdown-inner-list li a {padding: 5px 10px;}
.dropdown-inner-list li::after{content: unset;}