/* Media for 980px to 1023px */
/* 980px <= width < 1023px */

@media (min-width: 1201px) and (max-width: 1300px){
	.flexslider{min-height: 100%;}
	.products-list .product-item-details{padding: 6px 0 0 40px;}
	body.page-layout-2columns-left .products-list .product-item-details {width: 74%;}
	.minicart-items .product-item-details {width: 70%;}
}

@media (min-width: 1024px) and (max-width: 1200px) {
	.header-static-block{margin: 20px 0 0 30px;}
	.header_banner li, .header_banner li.Money{padding-right: 18px;}
	.flexslider {min-height: 100%;}
	.footer-inner .footer-area{margin-left: 20px;}
	.page-layout-2columns-left .list.products-list .product-item-details {width: 69%;}
	.navigation.custommenu .menu-title {width: 191px;}
	.sidebar .navigation {width: 195px;}
	body .sidebar .product-items .product-item-details {width: 64%;}
	.subbanner {width: 32.1%;}
	.newsletter_cms {padding: 10px 20px;}
	.news-content .newshead {font-size: 18px;}
	.news-content .newshead::before {vertical-align: middle;}
	.block.newsletter .footer_newsletter input {width: 222px;}
	.minicart-items .product-item-details {width: 64%;}
}

@media (min-width: 980px) and (max-width: 1023px) {
	.header-center {display: none;}
	.header-static-block{margin: 20px 0 0 10px;}
	.header_banner li, .header_banner li.Money{padding-right: 10px;}
	.cms_text_inner{padding: 11px 0;}
	.flexslider {min-height: 100%;}
	.footer-inner .footer-area{margin-left: 20px}
	.page-layout-2columns-left .list.products-list .product-item-details{width: 68%;}
    .page-layout-2columns-left .list-left{border: none; width: 100%; padding: 0px;}
    .page-layout-1column .block.widget .products-grid .widget-product-grid .product-item{width: 33.33%;}
    .cms-home.page-layout-2columns-left .column.main {width: 77%;}
    .cms-home.page-layout-2columns-left .sidebar-main {width: 23%;}
    .subbanner {width: 32%;}
    body .sidebar .product-items .product-item-details {width: 64%;}
    .navigation.custommenu .menu-title {width: 195px;}
    .sidebar .navigation {width: 199px;}
    .newsletter_cms {padding: 10px 20px;}
    .news-content .newshead {font-size: 16px;}
    .news-content .newshead::before {vertical-align: middle;}
    .block.newsletter .footer_newsletter input {width: 210px;}
    .filter-options-item {padding: 5px 0;}
    .minicart-items .product-item-details {width: 62%;}
    .opc-block-summary .product-item .product-item-inner {display: inline-block;}
}
@media (min-width: 768px) and (max-width: 979px){
	.column.main .cart-summary, .column.main .opc-sidebar,.checkout-container .authentication-wrapper{width: 30%;}
	.column.main .cart-container .form-cart, .column.main .cart-discount, .column.main .opc-wrapper{width:70%;}
	.navigation.custommenu .mainmenu > ul > li:hover > ul{display: block;}
	.static-link ul {float: right;}
	.nav-sections-item-content > .navigation.custommenu {margin: 7px 0 0 4px; width: 26%;}
	.navigation.custommenu .mainmenu .level0.newsubmenu, .navigation.custommenu .mainmenu .menu-dropdown-icon > ul {min-width: 500px;}
	.navigation.custommenu .mainmenu li.level1 {width: 30.6%;}
	.subbanner {width: 32%;}
	.footer_center {margin: 30px 0 10px;}
	.minicart-items .product-item-details {width: 58%;}
	.opc-block-summary .product-item .product-item-inner {display: inline-block;}
	.navigation.custommenu .menu-title {width: 100%;}
}
@media (max-width: 979px){
	.header-static-block{display: none;}
	.page-layout-2columns-left #mainmenu{display: none;}
	.page-layout-2columns-left .static-link{margin:0px;}
	.static-link li a{ padding: 14px 12px;}
	.flexslider {min-height: 100%;}
	.cms_text_inner{padding: 11px 0px;}
	.page-layout-2columns-left .columns .sidebar-main, .page-layout-2columns-left .columns .sidebar-additional {padding: 0; width: 100%; float: left;}
	.page-layout-2columns-left .columns .column.main {width: 100%; float: right;}
	.sidebar .left-banner{display: none;}
	.sidebar .block{padding: 10px;}
	.sidebar .block-title{position: relative; background: #f7f7f7; padding: 0px; margin:0px; border-bottom: none;}
	.sidebar .mobile_togglemenu{
		background:url("../images/toggle-arrow.png") no-repeat scroll right 0px transparent;
	    cursor: pointer;
	  	left: 0px;
	  	top: 0px;
	    overflow: hidden;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    z-index: 9;
	    margin: 0 0 0 0px;
	}
	.sidebar .active .mobile_togglemenu {background-position: right -52px;}
	.page-main .sidebar .block, .columns .sidebar .widget.block{margin-bottom:10px;}
	.sidebar .block .block-content{display: none; margin: 15px 0 0px;}
	.sidebar .block-reorder .actions-toolbar{margin: 0px;}
	.sidebar ul#category-treeview{margin: 0px; padding: 10px 0 15px}
	.account .page-main{margin: 0 0 25px; padding-top: 0px;}
	.account.page-layout-2columns-left .columns .sidebar-main, 
	.account.page-layout-2columns-left .columns .sidebar-additional{width: 100%;}
	.account.page-layout-2columns-left .columns .column.main{width: 100%;}
	.columns .column.main .products-grid.wishlist .product-image-container{max-width: 100%;}
	.newsletter-container-inner {display: inline-block; float: none; margin: 5px 0 4px; text-align: center;  width: 100%;}
	.news-content{float: none; display: inline-block; }
	.block.newsletter{float: none; display: inline-block; width: auto !important;}
	.social_block h6{float: none; display: inline-block;}
	.page-footer .mobile_togglemenu {
	    background: url("../images/toggle-arrow.png") no-repeat scroll right 0px transparent;
	    cursor: pointer;
	    display: block;
	    font-size: 15px;
	    margin-right: 0;
	    margin-top: 0px;
		top:0px;
	    overflow: hidden;
	    padding: 0 0 5px 0px;
	    text-decoration: none;
	    width: 100%;
	    position: absolute;
	}
	.footer-area h6{display: block;}
	.page-footer .active .mobile_togglemenu, .page-footer .active .mobile_togglemenu {background-position:right -52px;}
    .footer-inner .footer-area ul {display: none; margin:0 0 10px 0;}
    .page-footer .footer-inner .footer-area {margin: 0; width: 100%;}
    .list-left{border: none; width: 100%; padding: 0px;}
    .list-right {float: left; padding: 10px 0 0; text-align: left; width: 100%;}
    .page-layout-2columns-left .list.products-list .product-item-details{ width: 67%;}
	.page-layout-1column .block.widget .products-grid .widget-product-grid .product-item{ width: 33.33%; }
	.custom-contact-form{float: none;  margin-bottom: 10px;  width: 100%;}
	.googlemap{display: block;float: none;  margin: 0;  width: 100%;}

	.form-cart .main.actions a,
	.form-cart .main.actions button,
	.cart-summary .checkout-methods-items .action.primary.checkout{margin:0 0 2px;}
	.sidebar .blog-search{display: none;}
}
@media (max-width: 767px){
	.page-header .panel.wrapper{display: none;}
	.page-header .header.content {box-sizing: border-box; display: inline-block; padding: 14px 15px 0; width: 100%;}
	.logo{margin: 22px 0 0 50px;}
	#switcher-language-nav .mage-dropdown-dialog, #switcher-currency-nav .mage-dropdown-dialog{display: block !important;}
	.nav-container{margin:-5px 0 16px; border: 1px solid #cbcaca;}
	.navigation.custommenu .menu-title{display: none;}
	.nav-sections-item-content > .navigation.custommenu{float: none; width: 100%; margin: 0px;}
	.nav-open .nav-sections #mainmenu{display: none !important;}
	.navigation.custommenu .mainmenu li.level1 {min-width:155px;}
	.container-width, .brand-home, .page-main{
		width: auto;
		padding:0;
		max-width:none;
		margin:0px 15px;
	}
	.account .page-main{margin: 0 15px 25px;}
	.cms_banner{width: 50%; margin:1px 0px;}
	.cms-banner1{background: #393939; border-radius: 5px 0 0;}
	.cms-banner2{background: #db3981; border-radius: 0 5px 0 0;}
	.cms-banner3{background: #f18c36; border-radius: 0 0 0 5px;}
	.cms-banner4{background: #fbd905; border-radius: 0 0 5px;}
	.breadcumb_inner{order: -1;}
	.gallery-placeholder { margin: 0 auto 30px; width: 420px;}
	.product.info.detailed .product.data.items{margin:0 0 30px; border: none;}
	.product.info.detailed .product.data.items > .item.content{border: 1px solid #e3e2e2; border-radius: 0 0 5px 5px; margin: -10px 0 15px;}
	.product.info.detailed .product.data.items > .item.title{margin:0 0 10px;}
	.product.info.detailed .product.data.items .item.title a::after{top: 12px;}
	.columns {display:block !important;}
	.columns .column.main {flex-basis:initial;}
	.brands-inner .owl-nav .owl-prev {left:10px;}
	.brands-inner .owl-nav .owl-next {right:10px;}
	#switcher-language{margin:0px; padding: 0px; border:none;}
    .product.data.items .item.title.active a:before{display: none;}
    .products-grid.wishlist .box-tocart .product-item-actions {text-align: left; width: 100%; float: left; margin: 10px 0 0;} 
    .page-layout-2columns-left .list.products-list .product-item-details {padding: 6px 0 0 25px; width: 60%;}
	.post-list-wrapper .post-list .blog_inner{width: 100%; padding: 0px;}
	.page-layout-1column .block.widget .products-grid .widget-product-grid .product-item{width: 50%;}
	.subbanner {width: 31.8%;}
	.subbanner .banner_text {top: 17%;}

	.brands-inner .owl-nav,
	.latest-Product .container-width .owl-nav,
	.special-Product .container-width .owl-nav,
	.tabbernav_product_sub .owl-nav {display: block;}
	.footer_center {margin: 30px 0 10px;}
	.news-content .newshead {font-size: 16px; line-height: 26px;}
	.news-content .newshead::before {vertical-align: middle;}
	.footer_bottom .copyright {padding: 5px 0;}
	.footer_bottom ul.payment_icon {margin: 5px 0;}
	.products-list .product-item-details .list-left .actions-secondary a.action.towishlist {margin: 0 5px 0 0;}
	.list-left .actions-secondary {margin-top: 8px;}
	.product-add-form .product-options-wrapper .field:not(.date) > .control {width: 80%;}
	.opc-progress-bar {display: none; margin: 0;}
	.opc-estimated-wrapper .minicart-wrapper {display: none;}
	.authentication-wrapper .action-auth-toggle {display: none;}
	.checkout-container {margin: 15px 0 19px;}
	.list-left .actions-secondary {margin-top: 10px;}
	.products-list .product-item-details .list-left .actions-secondary a.action {margin: 0 5px 0 0;}
	.header-right .minicart-items .product-item-details {width: 72%;}
}

@media (max-width: 640px){
	.static-link li a {padding: 14px 12px;}
	.header .call_banner{display: none;}
	.header-left {float: none; text-align: center; width: 100%;}
	.header-logo {display: inline-block; float: none;}
	.nav-toggle{top:25px;}
	.logo {float: none; margin: 0; text-align: center;  width: 100%;}
	.header-right {display: inline-block; float: none; text-align: center; width: 100%;}
	.header-right .minicart-wrapper .block-minicart{left: 0; margin:0 auto; text-align: left;}
	.header-right .minicart-wrapper {clear: both; float: none; margin: 5px 0; position: relative; width: 100%;}
	.block-search {clear: both; display: inline-block; float: none; margin: 17px 0 15px; width: 100%;}
	.block-search .block-content{border-radius: 3px; display: inline-block;}
	.list-center-outer{width:100%; margin-top:15px;}
	.tabbernav_product a span{padding:10px 5px;} 
	.page-layout-2columns-left .list.products-list .product-item-details {padding: 6px 0 0 0px; width: 100%;}
	.page-layout-1column .filter-options-item{padding: 10px 0; border: none;}

	.block.upsell .category-title h2,
	.block.related .category-title h2,
	.block.crosssell .category-title h2,
	.relatedpost-product .block-title h2{line-height: 40px;}
	.flex-direction-nav li a {top: 41%;}
	.footer_bottom li {line-height: 25px;}
	.footer_bottom .copyright {padding: 0 0 5px;}
	.subbanner {width: 48.4%;}
	.subbanner2.subbanner {margin-right: 0;}
	.subbanner3.subbanner {margin: 0 auto; float: none; position: relative;}
	.subbanner3 .banner_image {position: relative; float: left; margin-top: 15px;}
	.list-left .product-item-actions, .list-left .actions-secondary{display: block;}
	.products-list .product-item-info .product-item-image {float: unset; text-align: center;}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media (min-width: 480px) and (max-width: 767px) {
.form-list li.wide .input-box{width: 260px;}
.form-list li.wide input.input-text{ width: 250px;}
}

/* Landscape phones and down */
@media (max-width: 479px) {
	.block-search input{width:190px;}
	.header-top-left .tm_headerlinks{width: 240px;}
	.static-link {box-sizing: border-box; float: left; padding: 0px; width: 100%;  position: relative;}
	.static-link .mobile_togglemenu:before {content: "\f107"; font-family: fontawesome; font-size: 22px; position: absolute; right: 15px; top: 8px;}
	.static-link.active .mobile_togglemenu:before {content: "\f106";}
	.static-link .mobile_togglemenu {color: #e76453; text-decoration: none; font-size: 16px; padding:13px 10px; display: block; position: relative; cursor: pointer;}
	.static-link li {border-right: medium none; display: block; float: none;}
	.static-link li a {padding: 4px 0; border:none;}
	.static-link ul{ 
		 background: #f5f5f5 none repeat scroll 0 0;
	    border: 1px solid #cbcaca;
	    box-sizing: border-box;
	    display: none;
	    padding: 10px;
	    position: absolute;
	    top: 50px;
	    width: 100%;
	    z-index: 9;
	    border-radius: 5px;
	 }
	.nav-container {border-radius: unset;margin: 0; height: unset; border: unset;}
	.nav-sections .switcher .switcher-dropdown .switcher-option a:hover{border-color:#e76453;}
	.cms_banner{width: 100%;}
	.cms-banner1{border-radius: 5px 5px 0 0;}
	.cms-banner4{border-radius: 0 0 5px 5px;}
	.subbanner{width: 100%; margin:5px 0px;}
	.subbanner1, .subbanner2, .subbanner3{padding: 0px; text-align: center;}
	.news-content .newshead:before{ font-size: 20px;}
	.news-content .newshead{font-size: 18px;}
	.block.newsletter .footer_newsletter input{width: 170px;}
	.gallery-placeholder {width: 262px;}
	.page-products .sorter {float: left; margin: 15px 0 0; clear: both;}
	.sorter {clear: both; float: left; margin: 15px 0 0;}
	.page-layout-1column .block.widget .products-grid .widget-product-grid .product-item{width: 100%;}
	.page-layout-2columns-left .static-link {display: none;}
	.block-search {margin: 17px 0 0;}
	.flex-direction-nav {display: none !important;}
	.product-item-info:hover .product-item-inner {opacity: 0; -khtml-opacity: 0; -webkit-opacity: 0; -moz-opacity: 0;-ms-opacity: 0;right: 0;}
	.subbanner {width: 100%; margin: 15px 0 0;}
	.subbanner1.subbanner {margin-top: 0;}
	.subbanner .banner_text {top: 25%; text-align: left; left: 25px;}
	.newsletter_cms {padding: 10px 15px;}
	.block.newsletter .footer_newsletter .action.subscribe {padding: 11px 12px;}
	.block.newsletter .footer_newsletter input {width: 160px;}
	.flex-control-nav {display: block;}
	.products-list .product-item-details .list-left .actions-secondary a.action.towishlist {margin: 0 0 8px;}
	.owl-controls .owl-nav div {display: none !important;}
	.account.wishlist-index-index .product-item-info:hover .product-item-inner{
	opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	right: unset;
	}
	.products-grid.wishlist .product-item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 15px;
	}
	.wishlist-index-index .product-item {width: 100%;}
	.products-grid.wishlist {margin-bottom: 10px;}
	.products-list .product-item-details .list-left .actions-secondary a.action.tocompare {margin: 10px 0 0;}
	.block.upsell .category-title h2 strong, .block.related .category-title h2 strong, .block.crosssell .category-title h2 strong{font-size: 14px;}
	.block.upsell .category-title h2, .block.related .category-title h2, .block.crosssell .category-title h2{line-height: 20px;}
	.static-link{display: none;}
}