/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav { list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides{ padding:0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style:none !important; margin-bottom:0px;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display:inline-block; vertical-align:middle; }

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; clear:both; margin:0 auto 21px; overflow:hidden; text-align:center; width:100%; background:#f8f8f8; min-height: 380px;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides { margin:0; }

/* Direction Nav */
.flex-direction-nav {display:none; margin:0 !important; z-index:999; }
.flexslider:hover .flex-direction-nav {display:block;}
.flex-direction-nav  li{ list-style:none; margin:0px;}
.flex-direction-nav li a{
	background: #000;
    border-radius: 50%;
    font-size: 0;
    height: 40px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 47%;
    width:40px;
    opacity: 0.5;
    text-decoration: unset;
}
.flex-direction-nav li a:hover{ opacity: 1; }
.flex-direction-nav li a:before{
    font-family: fontawesome;
    color: #ffffff;
    display: block;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;

}
.flex-direction-nav li a.flex-prev:before{content: "\f104"; padding: 0 3px 0 0;}
.flex-direction-nav li a.flex-next:before{content: "\f105"; padding: 0 0 0 3px;}

.flex-direction-nav li a.flex-prev{left:30px;}
.flex-direction-nav li a.flex-next {right:30px;}

/* Control Nav */
.flex-control-nav {position: absolute; bottom:10px; right:0px; left:0px; margin:0 !important; padding:0 !important; z-index:8; text-align:center; display:none; }
.flex-control-nav li {
    margin: 0 3px;
    display: inline-block; 
    font-size:0; 
    border-radius:50%;  
    -webkit-border-radius:50%;  
    -khtml-border-radius:50%;  
    -moz-border-radius:50%; 
    border: unset;
}
.flex-control-paging li a {    
    cursor: pointer;
    display: block;
    height: 10px;
    text-indent: -9999px;
    width: 10px;
	font-size:0;
	border:none;
	background: #fff;
	position:relative;
    border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius:50%;
    -moz-border-radius:50%;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li:hover a {
	background: #e76453;
}

	

.flex-control-paging li a.flex-active{  cursor: default; border-color:#444; }
.flex-control-paging li:hover a{border-color:#444;}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;  }
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
