// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-no-display-desktop all);
        &:extend(.abs-add-clearfix all);
        .lib-css(background, @checkout-step-content-mobile__background);
        .lib-css(border-bottom, @checkout-step-title__border);
        .lib-css(border-top, @checkout-step-title__border);
        .lib-css(margin, 0 0 20px);
        padding: 15px 10px;

        .estimated-block {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            float: left;
            font-weight: @font-weight__bold;

            .estimated-label {
                display: block;
                margin: 0 0 @indent__xs;
            }
        }

        .minicart-wrapper {
            button {
                //  todo ui: Change .action.showcart to .action-showcart
                &.action.showcart {
                    /* .lib-button-reset(); */
                    padding: 6px 25px 8px 35px;
                    &:before {
                        .lib-css(color, @primary__color);
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}
