// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: #211f20;
@product-name-link__color__active: #211f20;
@product-name-link__color__hover: #e76453;
@product-name-link__color__visited: #211f20;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {
// Product Lists
.products {
    margin: 0px -6px;
}
.product {
    &-items {
        &:extend(.abs-reset-list all);
    }
    &-item {
        vertical-align: top;
        .products-grid & {
            width: 100%/2;
            display: inline-block;
            padding:6px;
        }
        &:extend(.abs-add-box-sizing all);

        &-name {
            &:extend(.abs-product-link all);
            display: block;
            margin:0px 0px 0px;;
    	    text-transform:capitalize;
    	    font-weight:400;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 14px;
        }

        &-info {
            max-width: 100%;
			padding:20px 7px;
			box-sizing:border-box;
			/*display:inline-block;*/
			text-align:center;
            background: #ffffff none repeat scroll 0 0;
            border: 1px solid #e3e2e2;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            .page-products & {
                
            }
       
		&:hover {
			box-shadow: 0 0 5px #dddddd;
		}
			.product-item-image{
				
				& {
			}
			
			}
        }

        &-actions {
            display: block;
            .actions-secondary {
                > .action {
                    &:extend(.abs-actions-addto all);
                    &:before {
                        margin: 0;
                    }
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
        }
        &-description {
            margin: 15px 0 10px;
             p { 
                  margin: 0px;
               }
        }
        .product-reviews-summary {
            .rating-summary {
                margin: 0 4px 0 0;
            }
            .reviews-actions {
                margin-top: 5px;
                text-transform: lowercase;
                font-size: @font-size__s;
            }
        }

        .price-box {
            margin:3px 0px 4px;
			color:#464e55;
            font-size:15px;

            .price-label {
                font-size: @font-size__s;
                .lib-css(color, @text__color__muted);
                display:none;
            }
        }

        .old-price {
            margin: @indent__xs 0;
            .price {
                font-weight: normal;
                color:#8b8b8b;
                text-decoration:line-through;
                font-size: 14px;
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .tocompare {
            .lib-icon-font-symbol(
                @icon-compare-full
            );
        }
        .tocart {
            white-space: nowrap;
            /*border-radius: 0;
			color:#b3b3b3;
			border:1px solid #000;
            .lib-font-size(13px);
            line-height: 1;
            padding-top: @indent__s;
            padding-bottom: @indent__s;*/
            
		    /*.lib-button(
				@_button-icon-font-text-hide:false,
				@_button-icon-font-color:#000,
				@_button-icon-font-color-hover:#fff,
				@_button-icon-use:false,
				@_button-font-content:@icon-cart,
				@_button-padding:6px 5px,
                @_button-font-size: 14px,
				@_button-line-height: 23px,
                @_button-background:transparent,
                @_button-border:none 
			);*/
			&:hover {
                   
            }
        }
    }
}

.column.main {
    .product {
        &-items {
            margin-left: 0px;
        }
        &-item {
            padding: 6px;
			text-align:center;
        }
    }
    .products-list{
        .product {
            &-item {
                padding:0px 0px;
            }
        }

    }
}

.price-container {
    .price {
        .lib-font-size(14);
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        .lib-font-size(11);
    }

    .weee {
        &:before {
            content: "("attr(data-label) ": ";
        }
        &:after {
            content: ")";
        }
        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ": ";
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;
            &-info {
                padding:10px; 
                display:block;
                text-align:left;
                margin: 6px;

                .product-item-image {
                float:left;
                margin:20px 0;
                position: relative;
                }
            }
            &-photo {
                width: 1%;
                padding:0;
                vertical-align: top;
     
            }
            &-details {
                vertical-align: top;
               	display:inline-block;
				margin-left:0px;
				/*max-width:868px;*/
                text-align:left;
                padding:6px 0 0 48px;
                box-sizing: border-box;
            }
        }
    }
    .product-image-wrapper {
        &:extend(.abs-reset-image-wrapper all);
    }
}

}
.page-layout-2columns-left{
    .products-list {
        .product {
            &-item {
                &-details {
                }
            }
        }
    }
}
.product-item-actions {        
        .actions-primary + .actions-secondary {
            display: none;
        }
    }

//
//    Mobile
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;
            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
		 & {
            &:hover,
            &.active {
                position: relative;
                z-index: 2;
                /*.lib-css(background, @color-white);*/
                .product-item-image{
					border-color:#303030;
				}
            }
        }
    }
    .product-item-inner {
		z-index:99;
		background:transparent;
		padding:3px 0px 3px;
        text-transform:capitalize;

        .products-grid & {
           
        }
    }

    .product-item-actions {
        display: block;
        .products-grid & {
          
        }
        .actions-primary + .actions-secondary {
            width: auto;
            padding-left:0px;
            display:none;
            > .action {
                margin:0px 0px 0px 8px;
				padding:5px;
				color:#b3b3b3;
				border:1px solid #b3b3b3;
				min-width:20px;
				vertical-align:middle;
                &:hover {
                    color:#303030;
					background:#ffd24c;
					border-color:#ffd24c;
                }
            }
        }
        .actions-primary { display: inline-block; }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            width: 100%/4;
			text-align:center;
            margin-bottom:0px;
        }
    }

    .page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-layout-3columns .products-grid .product-item { width: 100%/3 }
    .page-products .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/3 }
}


//
//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-products .products-grid .product-item { width: 100%; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100% }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100% }
    .products-grid .product-item { width: 100%; }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    .page-layout-1column .products-grid .product-item { width: 100%/5 }
    .page-layout-3columns .products-grid .product-item { width: 100%/4 }
    .page-products .products-grid .product-items { margin: 0; }
    .page-products .products-grid .product-item {
        width: 25%;
        margin-left: calc(~"(100% - 3 * 33.333%) / 4");
        padding:6PX;
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    /*.page-products .products-grid .product-item { width: 100%/2; }*/
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/4 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/4 }

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products .products-grid .product-item { width: 100%/3; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/2 }
}
