// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            padding-top: 0px;
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
        margin-bottom:0px;
        text-align: center;

        select {
            
           
        }

        &-amount {
            left: 0;
            line-height: 22px;
            margin: 0;
            padding: 6px 0;
            position: absolute;
            text-align: left;
            top: 0;
            vertical-align: middle;
            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }

        .page-with-filter & {
            &-amount {
               // position: static;
            }
        }

        &-products {
            .lib-css(background-color, @toolbar-background);
            .pages {
                display: none;
                .products.wrapper ~ & {
                    display: block;
                }
            }
        }
        .pages {
            margin-bottom: @indent__m;
        }
        .products.wrapper ~ & .pages {
            float: left;
            margin-bottom: 0;
        }
    }

    .sorter {
        float: right;
        .page-products & {
            position: absolute;
            right: @indent__s;
            top: 0;
            z-index: 1;
        }
        .products.wrapper ~ .toolbar & {
            display: none;
        }
        &-options {
            margin: 0 @indent__xs 0 7px;
            width: auto;
            border:1px solid #dddddd;
            height:34px;
        }
        &-action {

            border: 1px solid #dddddd;
            display: inline-block;
            padding: 3px 8px;
            text-align: center;
            text-decoration: none;
            vertical-align: top;

            .lib-icon-font(
            @icon-arrow-up,
            @_icon-font-size: 16px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
            );
            .lib-icon-text-hide();
            &.sort-desc:before {
                content: @icon-arrow-down;
            }
        }
    }

    .modes {
        display: inline-block;
        float: left;
        margin-right: @indent__base;
        padding:3px 7px 3px 5px;

        .products.wrapper ~ .toolbar & {
            display: none;
        }

        &-label {
            &:extend(.abs-visually-hidden-desktop-s all);
            display: none;
        }

        &-mode {
           // .lib-css(background-color, @toolbar-element-background);
           // .lib-css(box-shadow, @button__shadow);
           // .lib-css(color, @text__color__muted);
           // border: 1px solid @border-color__base;
           // border-right: 0;
            background: url("../images/sprite.png") no-repeat scroll -162px 16px transparent ;
            float: left;
            font-weight: @font-weight__regular;
            line-height: 1;
            padding: 7px 6px;
            text-align: center;
            height: 27px;
            width: 27px;
            box-sizing:border-box;

            .modes-label + & {
                border-radius: 0px 0 0 0px;
            }
            &:hover {
                .lib-css(color, @_color_redtype);
                //background: darken(@toolbar-element-background, 2%);
            }
            &:last-child {
              //  border-radius: 0 3px 3px 0;
              // border-right: 1px solid @border-color__base;
            }
            &.active {
                color: @color-white;
                .lib-icon-font(
                    @icon-grid,
                    @_icon-font-size: @toolbar-mode-icon-font-size,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: #303030,
                    // @_icon-font-display: none,
                    @_icon-font-color-hover: #303030,
                    @_icon-font-color-active: #303030
                    
                );
            }

            .lib-icon-font(
            @icon-grid,
            @_icon-font-size: @toolbar-mode-icon-font-size,
            @_icon-font-text-hide: true,
           // @_icon-font-display: none,
            @_icon-font-color: #aaa,
            @_icon-font-color-hover: #303030,
            @_icon-font-color-active: #303030
            );
        }
    }
    .mode-list {
        &:before {
            content: @icon-list !important;
            display: none;
        }
        &.active {
            &:before {
            display: none;
            }
        }
    }
    .mode-grid {
        &:before {
            display: none;
        }
        &.active {
            &:before {
            display: none;
            }
        }
    }
    .toolbar {
        &-amount {
            display: block;
            float: left;
            position: static;
        }
        
    }
    .sorter {
        .page-products & {
            position: static;
        }
    }

    .limiter {
        display: none;
        float: right;
        &-options {
            margin: 0 5px 0 7px;
            width: auto;
            border:1px solid #dddddd;
            height:34px;
        }
        &-label {
            font-weight: 400;
        }
        .page-products .toolbar & {
            display: none;
        }
        .control {
            display: inline-block;
        }
        .products.wrapper ~ .toolbar & {
            display: block;
        }
    }
}


//
//  Desctop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar-products {
        margin-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    
}
