// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@autocomplete-background: @color-white;
@autocomplete-border: 1px solid @form-element-input__border-color;
@autocomplete-item-border: 1px solid @color-gray90;
@autocomplete-item-hover: @color-gray91;
@autocomplete-item-amount-color: @color-gray60;
@header-icons-color:#fff;
@header-icons-color-hover:#fff;
@autocomplete-item-hover-color:@color-gray91;

//
//    Common
//--------------------------------------

& when (@media-common = true) {

.block-search {
    position: relative;
    float: right;
    z-index: 4;
    margin: 17px 0px 0px;
    pointer-events:auto;
    clear: both;
    .block {
        &-title {
            display: none;
        }
        &:hover, &-title.active {
            background-position: 7px -33px;
        }
    }
    .block-content {
        background: #c2d82e none repeat scroll 0 0;
        border-radius: 3px 3px 0px 0px;
        display: block;
        margin-bottom: 0;
        padding: 8px 8px 3px;
    }
    .label {
        &:before{
            // display:none !important;
        }
        .lib-icon-font(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-margin: 0 @indent__s 0 0,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color-hover,
            @_icon-font-text-hide: true
        );
        display: none; 
        float: right;
        &.active {
            + .control {
                input {
                    position: static;
                }
            }
        }
    }
    .action.search {
            float: left;
            background: #d43e2a; /* Old browsers */
            background: -moz-linear-gradient(left, #d43e2a 0%, #e76452 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d43e2a), color-stop(100%,#e76452)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, #d43e2a 0%,#e76452 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, #d43e2a 0%,#e76452 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, #d43e2a 0%,#e76452 100%); /* IE10+ */
            background: linear-gradient(to right, #d43e2a 0%,#e76452 100%); /* W3C */
            opacity: 1;
            color: #fff;
            border:none;
            padding: 7px 14px;
            font-weight: 600;

            .lib-button-icon(
                @_icon-font-content: @icon-search,
                @_icon-font-size: @root__font-size,
                @_icon-font-text-hide: true,
                @_icon-font-color: @header-icons-color,
                @_icon-font-color-hover: @header-icons-color-hover,
                @_icon-font-line-height: @line-height__base
            );
            
            &:before{ display: none; }
            &:focus {
                &:before {
                    .lib-css(color, @header-icons-color);
                    
                }
            }
            > span{
                position: relative;
                clip: auto;
                width: auto;
                margin: 0px;
            }
        }
    .field.search{ display: inline-block; }
    .actions{ display: inline-block; margin: 0 0 0 6px; }
    .control {
        border-top: none;
        clear: both;
        margin: 0px;
        padding: 0px;
    }

    input {
        background-color: #ffffff;
        border: 1px solid #a3b338;
        border-radius: 3px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        box-shadow: 0 0 0 1px #e7f1a1;
        -webkit-box-shadow: 0 0 0 1px #e7f1a1;
        -moz-box-shadow: 0 0 0 1px #e7f1a1; 
        cursor: text;
        float: left;
        outline: 0 none;
        padding: 5px;
        width: 225px;
    }
    .nested {
        display: none;
    }
}

.search-autocomplete {
    display: none;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    margin-top: -15px;
    &:extend(.abs-add-box-sizing all);
    ul {
        .lib-list-reset-styles();
        &:not(:empty) {
            .lib-css(background, @autocomplete-background);
            .lib-css(border, @autocomplete-border);
            border-top: 0;
        }
        li {
            .lib-css(border-top, @autocomplete-item-border);
            cursor: pointer;
            padding: @indent__xs @indent__xl @indent__xs @indent__s;
            margin: 0;
            position: relative;
            text-align: left;
            white-space: normal;
            &:first-child {
                border-top: none;
            }
            &:hover,
            &.selected {
                .lib-css(background, @autocomplete-item-hover-color);
            }
            .amount {
                .lib-css(color, @autocomplete-item-amount-color);
                position: absolute;
                right: 7px;
                top: @indent__xs;
            }
        }
    }
}

.form.search.advanced {
    &:extend(.abs-forms-general-desktop all);
    .fields.range {
        .field {
            &:first-child {
                position: relative;
                .control {
                    padding-right: 25px;
                    &:after {
                        content: ' \2013 ';
                        display: inline-block;
                        text-align: center;
                        width: 25px;
                        position: absolute;
                        right: 0;
                        top: 6px;
                    }
                }
            }
            &:last-child {
                position: relative;
                div.mage-error[generated] {
                    position: absolute;
                    top: 32px;
                    left: 0;
                }
            }
            &.with-addon {
                .control {
                    padding-right: 45px;
                }
            }
            &.date {
                &:extend(.abs-field-date all);
            }
        }
    }
    .group.price {
        .addon {
            .addafter {
                background: none;
                border: 0;
                padding-top: 6px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

.search-terms {
   &:extend(.abs-reset-list all);
   line-height: 2em;
   > li {
        display: inline-block;
        margin-right: @indent__s;
   }
}

    .search.found {
        margin-bottom: @indent__s;
    }

}

//
//    Mobile
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-search {
        /*margin-top: 0px;*/

    }
}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        
        .label {
            /*&:extend(.abs-visually-hidden-desktop all);*/
            display:none;

            &:before{
                display:none;
            }
        }
        /*.control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }*/
        input {
            .lib-input-placeholder(@form-element-input-placeholder__color, #e76453);
        }
        
    }
    .search-autocomplete {
        margin-top: 0;
    }
	
}
