/*
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
    	margin: 0 0 13px;
        .lib-breadcrumbs(
        	 @_breadcrumbs-link-color: #777,
        	 @_breadcrumbs-link-color-visited: #777,
        	 @_breadcrumbs-link-color-hover: #777,
        	 @_breadcrumbs-link-color-active: #777
        );
		.items{
			color:#777;
			font-size:13px;
			text-transform:capitalize;
			.item{
					vertical-align:middle;
				&:after{
						line-height:20px;
					}
			}
		}
		a{ 
			color:#777;
		 }
		 a:active {
		 	color:#e76453;
		 }
    }
	
	.breadcumb_inner{
	position:relative;
		h1 {
				.lib-font-size(22);
				color: #e76453;
			    font-weight: 400;
			    letter-spacing: 0;
			    margin: 0 0 10px;
			    position: relative;
			    text-align: left;
			    text-transform: capitalize;
			    line-height: 30px;
			}
	}
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
       
       display: block;
    }
}
