// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------


& when (@media-common = true) {

//
//    Using buttons mixins
//--------------------------------------
button,
a.action.primary {
    
}

button {
    line-height: 16px;
    padding: 6px 12px;
    font-family:'Open Sans',Arial,Helvetica,sans-serif;
    border-radius: @button__border__radius;
    font-size: @button__font-size;
    &:not(.primary) {
        
        &:active {
            
        }
    }
}

body {
    &:not(._keyfocus) {
        button {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

a.action.primary {
    .lib-link-as-button();
}

.action.primary {
    .lib-button-primary();
    padding: 6px 12px;
}

}
