
// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@collapsible-nav-background: #f7f7f7;
@collapsible-nav-color:#666;
@collapsible-nav-current-border: 3px solid transparent;
@collapsible-nav-current-border-color: @color-orange-red1;
@collapsible-nav-current-color: @color-black;
@collapsible-nav-current-font-weight: @font-weight__semibold;
@collapsible-nav-item-hover: @color-gray91;

//

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {

//
//  Collapsible navigation
//  ---------------------------------------------

.block-collapsible-nav {
    .content {
        .lib-css(background, @collapsible-nav-background);
        padding: 0px 0;
    }
    .item {
        margin: 0px 0 0;
        position: relative;
        &:first-child {
            margin-top: 0;
        }
        a,
        > strong {
            .lib-css(color, @collapsible-nav-color);
            display: block;
            padding: 4px 0px;
        }
        a {
            text-decoration: none;
            &:hover {
                .lib-css(background, transparent);
                .lib-css(color, #e76453);
            }
        }
        &.current {
            a,
            > strong {
                
                .lib-css(color, #fff);
                .lib-css(background, #e76453);
            }
            a {
                .lib-css(border-color, @collapsible-nav-current-border-color);
            }
        }
    }
}

}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-collapsible-nav {
        .title {
            /*&:extend(.abs-visually-hidden-desktop all);*/
            background: #f7f7f7;
            padding: 0px 0px 13px;
            border-bottom: 4px double #d5d5d5;
            margin: 0px 0 8px;
                > strong{
                    color: #e76453;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                }
            }
            .item {
                &.current {
                    color: #e76453;
                    background: transparent;
                    font-weight: 400;
                        > a,
                        > strong{
                        color: #e76453;
                        background: transparent;
                    }
                &:before{
                        border-bottom: 8px solid rgba(0, 0, 0, 0);
                        border-left: 8px solid #e76453;
                        border-top:8px solid rgba(0, 0, 0, 0);
                        content: "";
                        left: 100%;
                        margin-top: -9px;
                        position: absolute;
                        top: 50%;
                        display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-collapsible-nav {
        /*left: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 10;
        box-sizing: border-box;*/
        .title {
            &:extend(.abs-toggling-title-mobile all);
            border:none;
            padding:0px;
            > strong{ 
                padding: 0px;
                margin: 0px;
                color: #e76453;
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
            }
            &:after{
                background: #e76453 none repeat scroll 0 0;
                border-radius: 50%;
                color: #ffffff;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                font-weight: bold;
            }
        }
        .item {
                &.current {
                        > a,
                        > strong{
                        color: #e76453;
                        background: transparent;
                    }
                }
            }
        .content {
            border-bottom: none;
            display: none;
            margin: 10px 0 0;
            &.active {
                display: block;
            }
        }
    }
}
