// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter {
        &.block {
            margin-bottom: 0;
        }
        &-title {
                
            strong {
                    
                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red4;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }
                &.disabled {
                    opacity: .5;
                }
            }
        }
        .block-subtitle {
            font-size: @font-size__base;
            font-weight: @font-weight__semibold;
            padding: 0px;
            display: none;
        }
        &-subtitle {
            display: none;
        }
        &-current {
            margin: 0;
            .items {
                padding: 10px 0px 10px;
                font-size: 13px;
            }
            .item {
                padding-left: 17px;
                position: relative;
                z-index: 1;
            }
            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }
            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                right: 8px;
                position: absolute;
                top: 2px;
                &:before {
                    color:#666;
                    font-size: 8px;
                }
            }
        }
        &-actions {
            margin-bottom: 20px;
            padding: 0;
            a{
                color: #000;
                padding:10px 18px;
                background: #ececec;
                border-radius: 30px;
                -khtml-border-radius:30px;
                -moz-border-radius: 30px;
                -webkit-border-radius: 30px;
                &:hover{
                    color: #fff;
                    background: #f02640;
                }
            }
        }

        &-label {
            font-weight: @font-weight__bold;
            &:after {
                content: ': ';
            }
        }
        &-value {
            .lib-css(color, #666);
            margin: 0 8px 0 0;
        }
        &-options {
            margin: 0;
            &-item {
                border-bottom: none;
                padding:10px 0;
            }
            &-title {
                cursor: pointer;
                font-weight: 500;
                margin: 0;
                overflow: hidden;
                padding:0;
                position: relative;
                text-transform: capitalize;
                word-break: break-all;
                z-index: 1;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 3px;
                    top: 0px;
                }
                
                .active > & {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
            &-content {
                margin: 0;
                padding: @indent__s;
                .item {
                    margin: @indent__s 0;
                    line-height: 1.5em;
                }
                a {
                    .lib-css(color, @filter-link);
                    margin-left: -5px;
                    margin-right: -5px;
                    padding-left: 5px;
                    padding-right: 7px;
                    &:hover {
                       
                        text-decoration: none;
                        & + .count {
                            background-color: @color-gray91;
                        }
                    }
                }
                .count {
                    
                    padding-right: 5px;
                    &:before {
                        content: '(';
                    }
                    &:after {
                        content: ')';
                    }
                }
                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
    }
    .page-layout-1column {
        .filter{
            .filter{
                &-current {
                    display: block;

                    /*line-height: 35px;*/
                    &-subtitle {
                        .lib-css(color, #fff);
                        display: none;
                        
                        &:after {
                            content: ':';
                        }
                    }
                    .item,
                    .items {
                        display:inline-block;
                        }
                    .item {
                        margin:2px 10px 2px 0;
                        background: #f5f5f5;
                        padding: 1px 16px 1px 8px;
                    }
                    .action.remove {
                        line-height: normal;
                    }
                }
            }
        }

    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    body {
        &.filter-active {
            .page-wrapper {
                height: 0;
                margin-top: -999999em;
                visibility: hidden;
            }
            .columns {
                z-index: 999;
            }
        }
    }

    .filter {
        &.active {
            position: relative;
            visibility: visible;
            z-index: 99;
            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }
            .filter-title {
                border-bottom: 1px solid @border-color__base;
                height: 48px;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 2;
                strong {
                    .lib-css(box-shadow, none);
                    background: none;
                    border: 0;
                    color: transparent;
                    left: auto;
                    right: 3px;
                    top: 10px;
                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-color: @text__color__muted,
                    @_icon-font-size: 16px,
                    @_icon-font-position: after
                    );
                }
            }
            .filter-subtitle {
                .lib-css(background, @toolbar-background);
                display: block;
                height: 50px;
                left: 0;
                line-height: 32px;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
            }
            .filter-options {
                .lib-css(background, @color-white);
                bottom: 0;
                display: block;
                left: 0;
                overflow: scroll;
                position: fixed;
                right: 0;
                top: 50px;
                z-index: 10;
            }
        }
    }

    .filter {
        & &-subtitle {
            font-size: 20px;
            font-weight: @font-weight__light;
        }
        &-actions {
            margin: 0;
            padding: 15px 0 20px;
        }
        &-options-content {
            padding: @indent__xs @indent__s;
        }
    }
    .filter .filter-current {
        /*border: solid @border-color__base;
        border-width: 1px 0;
        margin: @indent__xs -@indent__s 0;*/

        .items {
            display: none;
        }
        &-subtitle {
            /*position: relative;
            text-transform: uppercase;
            z-index: 1;*/

            .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 13px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );
            &:before {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:after {
                .lib-css(color, @text__color__muted);
                content:' (' attr(data-count) ')';
                font-size:.9em;
            }
        }
        &.active {
            padding-bottom: 30px;
            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
            }
            .items {
                display: block;
            }
            & + .block-actions {
                display: block;
            }
        }
        & + .block-actions {
            display: none;
        }
    }
    .filter-no-options {
        .filter-title {
            /*&:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: block;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }*/
        }
        .filter-content {
            margin-bottom: @indent__base;
        }
    }
    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .filter {
        &.block {
            margin-bottom: 13px;
        }
        &-title {
                
        }
        &-content {
            .item {
                margin: 5px 0;
            }
        }
        &-actions {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display:inline-block;
            overflow: initial;
            position: static;
            vertical-align: top;
            width: 100%;
        }
        &-subtitle {
            position: static;
            display: block;
        }
    }
    .page-layout-1column {
        .toolbar-products {
            margin-bottom:30px;
            padding:5px 0;
        }
        .products ~ .toolbar-products {
            position: static;
        }
        &.page-with-filter .column.main {
            position: relative;
            z-index: 1;
        }
        .filter {
            &.block {
               
               display: inline-block;
               width: 100%;
            }
            &-content {
                margin-top: 0px;
                vertical-align: top;
                display: inline-block;
                border-left: 1px solid #fdc5b7;
                width: 90%;
            }
            &-subtitle {
                display: none;
            }
            &-options {
                &-item {
                    border: 0;
                    float: left;
                    margin-right:5px;
                    padding: 0px 0px;
                    
                    &.active {
                        position: relative;
                        z-index: 2;
                        &:hover {
                            z-index:3;
                        }
                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            bottom: -1px;
                            content: '';
                            display: none;
                            left: 50%;
                            margin-left: -@indent__base;
                            position: absolute;
                            z-index: 3;
                        }
                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top:2px;
                            z-index: 4;
                        }
                    }
                }
                &-title {
                    padding:22px 26px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #ffffff;
                    &:after {
                        right: 5px;
                        top: 25px;
                        z-index: 3;
                    }
                }
                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);

                    .lib-css(background, #f02640);
                    font-size:14px; 
                    color:#fff;
                    border: 1px solid #fdc5b7;
                    padding: 10px 5px;
                    position: absolute;
                    top: 100%;
                    width: 180px;
                    z-index: 2;
                    .item {
                        padding: @indent__xs;
                        margin:0;
                        a {
                            margin:0 5px;
                            color:#fff;
                            padding:0px;
                        }
                        &:hover {
                           
                        }
                    }
                }
            }
            &-actions {
                text-align: right;
                margin: 0px;
                padding: 22px 0;
                & ~ .filter-options {
                    margin-top: 0px;
                }
            }
        }
    }
}
